Repository cicd-tools-org/cicd-tools: changes, and which pre-commit hooks are due for each by the changed paths.
All: shell-lint, toml-lint, yaml-lint, workflow-lint

shell-lint:
  name: shell-lint
  description: Lint the project's shell scripts.
  entry: shellcheck
  language: system
  pass_filenames: true
  stages:
  - commit

toml-lint:
  name: toml-lint
  description: Lint the project's TOML files.
  entry: ./.pre-commit/toml-lint.sh
  language: system
  stages:
  - commit
  pass_filenames: true

yaml-lint:
  name: yaml-lint
  description: Lint the project's YAML files.
  entry: ./.pre-commit/yaml-lint.sh
  args:
  - -c
  - .yamllint.yml
  language: system
  pass_filenames: true
  stages:
  - commit

workflow-lint:
  name: workflow-lint
  description: Lint the project's GitHub workflow files.
  entry: actionlint
  language: system
  pass_filenames: false
  require_serial: true
  stages:
  - commit

ci(GITHUB): remote script versioning, tests
  .github/actions/action-00-notification/action.yml
  .github/scripts/step-setup-environment.sh
  .github/workflows/.__remote-scripts.yml
  .github/workflows/.job-00-cookiecutter.yml
  .github/workflows/.job-00-notification.yml
  .github/workflows/.job-10-security.yml
  .github/workflows/workflow-push-tests.yml
  .github/workflows/workflow-push.yml
  scripts/github/step-set-value.sh
Due: shell-lint, yaml-lint, workflow-lint

ci(GITHUB): integrate security testing
  .github/workflows/.job-10-security.yml
  .github/workflows/workflow-push.yml
  .pre-commit-config.yaml
  scripts/github/step-determine-pushed-commits.sh
Due: shell-lint, yaml-lint, workflow-lint

ci(GITHUB): integration notifications
  .github/config/cookiecutter.json
  .github/scripts/step-setup-environment.sh
  .github/workflows/.job-00-cookiecutter.yml
  .github/workflows/.job-00-notification.yml
  .github/workflows/workflow-push.yml
  scripts/github/step-set-value.sh
  scripts/notifications/slack.sh
Due: shell-lint, yaml-lint, workflow-lint

ci(GITHUB): secure remote scripts
  .github/actions/action-00-notification/action.yml
  .github/bootstrap/step-remote-script.sh
  .github/scripts/step-template-requirements.sh
  .github/workflows/.job-00-cookiecutter.yml
  .github/workflows/.job-00-notification.yml
  .github/workflows/.job-10-security.yml
  .github/workflows/.job-30-documentation.yml
  .github/workflows/workflow-push.yml
  {{cookiecutter.project_slug}}/.github/bootstrap
Due: shell-lint, yaml-lint, workflow-lint

ci(GITHUB): integrate doc testing
  .github/scripts/step-render-template.sh
  .github/scripts/step-template-requirements.sh
  .github/workflows/.job-30-documentation.yml
  .github/workflows/workflow-push-tests.yml
  .github/workflows/workflow-push.yml
  cookiecutter.json
  {{cookiecutter.project_slug}}/.github/config/actions/gaurav-nelson-github-action-markdown-link-check.json
Due: shell-lint, yaml-lint, workflow-lint

ci(GITHUB): integrate pre-commit testing
  .github/actions/action-00-notification/action.yml
  .github/scenarios/0.toml_linting-0.workflow_linting.json
  .github/scenarios/0.toml_linting-1.workflow_linting.json
  .github/scenarios/1.toml_linting-0.workflow_linting.json
  .github/scenarios/1.toml_linting-1.workflow_linting.json
  .github/scripts/job-50-test-precommit.sh
  .github/scripts/step-render-template.sh
  .github/scripts/step-requirements-precommit.sh
  .github/scripts/step-requirements-template.sh
  .github/workflows/.job-00-cookiecutter.yml
  .github/workflows/.job-10-security.yml
  .github/workflows/.job-30-documentation.yml
  .github/workflows/.job-50-precommit.yml
  .github/workflows/workflow-push-tests.yml
  .github/workflows/workflow-push.yml
  hooks/post_gen_project.sh
  scripts/test.sh
  {{cookiecutter.project_slug}}/.cookiecutter/cookiecutter.json
  {{cookiecutter.project_slug}}/.gitignore
  {{cookiecutter.project_slug}}/.pre-commit-config.yaml
  {{cookiecutter.project_slug}}/.pre-commit/.poetry-compatible.sh
  {{cookiecutter.project_slug}}/.pre-commit/commit-lint.sh
  {{cookiecutter.project_slug}}/.pre-commit/toml-lint.sh
  {{cookiecutter.project_slug}}/.pre-commit/yaml-lint.sh
  {{cookiecutter.project_slug}}/pyproject.toml
Due: shell-lint, toml-lint, yaml-lint, workflow-lint

ci(GITHUB): integrate commit linting
  .github/workflows/.job-80-commit-lint.yml
  .github/workflows/workflow-push-tests.yml
  .github/workflows/workflow-push.yml
  scripts/github/step-use-poetry.sh
Due: shell-lint, yaml-lint, workflow-lint

ci(GITHUB): integrate toml linting
  .github/workflows/.job-80-toml-lint.yml
  .github/workflows/workflow-push-tests.yml
  .github/workflows/workflow-push.yml
Due: yaml-lint, workflow-lint

ci(GITHUB): integrate shell linting
  .github/scripts/job-50-test-precommit.sh
  .github/workflows/.job-50-precommit.yml
  .github/workflows/.job-80-shell-lint.yml
  .github/workflows/workflow-push-tests.yml
  .github/workflows/workflow-push.yml
  {{cookiecutter.project_slug}}/.github/bootstrap
  {{cookiecutter.project_slug}}/.github/bootstrap/step-remote-script.sh
Due: shell-lint, yaml-lint, workflow-lint

ci(GITHUB): integrate workflow linting
  .github/workflows/.job-80-workflow-lint.yml
  .github/workflows/workflow-push-tests.yml
  .github/workflows/workflow-push.yml
  .pre-commit-config.yaml
  {{cookiecutter.project_slug}}/.github/workflows/workflow-push.yml
  {{cookiecutter.project_slug}}/.pre-commit-config.yaml
Due: yaml-lint, workflow-lint

ci(GITHUB): integrate yaml linting
  .github/workflows/.job-80-yaml-lint.yml
  .github/workflows/workflow-push-tests.yml
  .github/workflows/workflow-push.yml
  .pre-commit-config.yaml
  {{cookiecutter.project_slug}}/.yamllint.yml
Due: yaml-lint, workflow-lint

ci(GITHUB): integrate releases
  .github/bootstrap/step-remote-script.sh
  .github/workflows/.job-99-create-release.yml
  .github/workflows/workflow-push-tests.yml
  .github/workflows/workflow-push.yml
  scripts/github/job-99-generate-changelog.sh
  scripts/github/job-99-generate-release.js
  scripts/github/job-99-release-candidate.sh
Due: shell-lint, yaml-lint, workflow-lint

ci(GITHUB): enhance workflow linting
  .github/scripts/job-50-test-precommit.sh
  .github/scripts/step-requirements-precommit.sh
  .github/workflows/.job-50-precommit.yml
  .github/workflows/.job-80-shell-lint.yml
  .github/workflows/.job-80-workflow-lint.yml
  .github/workflows/workflow-meta-tests.yml
  .github/workflows/workflow-template-tests.yml
  .pre-commit-config.yaml
  {{cookiecutter.project_slug}}/.pre-commit-config.yaml
  {{cookiecutter.project_slug}}/.pre-commit/workflow-header-lint.sh
Due: shell-lint, yaml-lint, workflow-lint

ci(GITHUB): group remote-execute scripts
  .github/actions/action-00-notification/action.yml
  .github/workflows/.job-00-cookiecutter.yml
  .github/workflows/.job-00-notification.yml
  .github/workflows/.job-10-security.yml
  .github/workflows/.job-80-commit-lint.yml
  .github/workflows/.job-99-create-release.yml
  remote-execute/generic/use-poetry.sh
  remote-execute/github/job-99-generate-changelog.sh
  remote-execute/github/job-99-generate-release.js
  remote-execute/github/job-99-release-candidate.sh
  remote-execute/github/step-determine-pushed-commits.sh
  remote-execute/github/step-set-value.sh
  remote-execute/notifications/slack.sh
Due: shell-lint, yaml-lint, workflow-lint

ci(GITHUB): integrate shfmt
  .github/scenarios/0.toml_linting-0.workflow_linting.json
  .github/scenarios/0.toml_linting-1.workflow_linting.json
  .github/scenarios/1.toml_linting-0.workflow_linting.json
  .github/scenarios/1.toml_linting-1.workflow_linting.json
  .github/scripts/job-50-test-precommit.sh
  .github/scripts/step-requirements-precommit.sh
  .github/workflows/.job-50-precommit.yml
  .github/workflows/.job-80-shell-lint.yml
  .pre-commit-config.yaml
  cookiecutter.json
  {{cookiecutter.project_slug}}/.pre-commit-config.yaml
  {{cookiecutter.project_slug}}/.pre-commit/shell-fmt.sh
Due: shell-lint, yaml-lint, workflow-lint

ci(GITHUB): prefer JSON configuration
  .github/actions/action-00-notification/action.yml
  .github/bootstrap/step-remote-script.sh
  .github/cicd-tools/manifest.json
  .github/cicd-tools/remote-script.sh
  .github/workflows/.__remote-scripts.yml
  .github/workflows/.job-00-cookiecutter.yml
  .github/workflows/.job-00-notification.yml
  .github/workflows/.job-10-security.yml
  .github/workflows/.job-30-documentation.yml
  .github/workflows/.job-50-precommit.yml
  .github/workflows/.job-80-commit-lint.yml
  .github/workflows/.job-80-shell-lint.yml
  .github/workflows/.job-80-toml-lint.yml
  .github/workflows/.job-80-workflow-lint.yml
  .github/workflows/.job-80-yaml-lint.yml
  .github/workflows/.job-99-create-release.yml
  .github/workflows/workflow-meta-tests.yml
  .github/workflows/workflow-template-tests.yml
  scripts/remote-access.sh
  {{cookiecutter.project_slug}}/.github/bootstrap/step-remote-script.sh
  {{cookiecutter.project_slug}}/.github/cicd-tools/manifest.json
  {{cookiecutter.project_slug}}/.github/cicd-tools/remote-script.sh
Due: shell-lint, yaml-lint, workflow-lint

ci(GITHUB): parallelize meta tests
  .github/workflows/workflow-meta-tests.yml
  {{cookiecutter.project_slug}}/.pre-commit/workflow-header-lint.sh
Due: shell-lint, yaml-lint, workflow-lint

ci(GITHUB): execute rather than source
  .github/actions/action-00-notification/action.yml
  .github/cicd-tools/remote-script.sh
  .github/scripts/job-50-test-precommit.sh
  .github/scripts/step-render-template.sh
  .github/scripts/step-requirements-precommit.sh
  .github/scripts/step-requirements-template.sh
  .github/scripts/step-setup-environment.sh
  .github/workflows/.job-00-cookiecutter.yml
  .github/workflows/.job-00-notification.yml
  .github/workflows/.job-10-security.yml
  .github/workflows/.job-30-documentation.yml
  .github/workflows/.job-50-precommit.yml
  .github/workflows/.job-80-commit-lint.yml
  .github/workflows/.job-80-shell-lint.yml
  .github/workflows/.job-80-toml-lint.yml
  .github/workflows/.job-80-workflow-lint.yml
  .github/workflows/.job-80-yaml-lint.yml
  .github/workflows/.job-99-create-release.yml
  .github/workflows/workflow-meta-tests.yml
Due: shell-lint, yaml-lint, workflow-lint

ci(PRE-COMMIT): batteries included
  .github/scenarios/0.toml_linting-0.workflow_linting.json
  .github/scenarios/0.toml_linting-1.workflow_linting.json
  .github/scenarios/1.toml_linting-0.workflow_linting.json
  .github/scenarios/1.toml_linting-1.workflow_linting.json
  .github/scripts/job-50-test-precommit.sh
  .github/scripts/step-render-template.sh
  .github/scripts/step-requirements-precommit.sh
  .github/workflows/.job-00-notification.yml
  .github/workflows/.job-50-precommit.yml
  .github/workflows/.job-80-shell-lint.yml
  .github/workflows/.job-80-toml-lint.yml
  .github/workflows/.job-80-workflow-lint.yml
  .pre-commit-config.yaml
  cookiecutter.json
  hooks/post_gen_project.sh
  pyproject.toml
  {{cookiecutter.project_slug}}/.pre-commit-config.yaml
  {{cookiecutter.project_slug}}/.pre-commit/.poetry-compatible.sh
  {{cookiecutter.project_slug}}/.pre-commit/.template.sh
  {{cookiecutter.project_slug}}/.pre-commit/commit-lint.sh
  {{cookiecutter.project_slug}}/.pre-commit/shell-fmt.sh
  {{cookiecutter.project_slug}}/.pre-commit/shell-lint.sh
  {{cookiecutter.project_slug}}/.pre-commit/workflow-lint.sh
  {{cookiecutter.project_slug}}/.pre-commit/yaml-lint.sh
  {{cookiecutter.project_slug}}/pyproject.toml
Due: shell-lint, toml-lint, yaml-lint, workflow-lint

ci(GITHUB): include container
  .github/workflows/.job-10-scan-container.yml
  .github/workflows/.job-80-lint-container.yml
  .github/workflows/.job-95-push-container.yml
  .github/workflows/workflow-docker.yml
  .pre-commit-config.yaml
  {{cookiecutter.project_slug}}/.hadolint.yml
  {{cookiecutter.project_slug}}/.pre-commit-config.yaml
  {{cookiecutter.project_slug}}/.pre-commit/.docker-shim.sh
  {{cookiecutter.project_slug}}/.pre-commit/.template.sh
  {{cookiecutter.project_slug}}/.pre-commit/shell-fmt.sh
  {{cookiecutter.project_slug}}/.pre-commit/shell-lint.sh
  {{cookiecutter.project_slug}}/.pre-commit/toml-lint.sh
  {{cookiecutter.project_slug}}/.pre-commit/workflow-lint.sh
  {{cookiecutter.project_slug}}/Dockerfile
Due: shell-lint, yaml-lint, workflow-lint

ci(GITHUB): refactor for reusability
  .github/scripts/job-50-test-precommit.sh
  .github/scripts/step-render-template.sh
  .github/workflows/.job-80-json-schema.yml
  .github/workflows/.job-80-shell-lint.yml
  .github/workflows/.job-80-toml-lint.yml
  .github/workflows/.job-80-workflow-lint.yml
  .github/workflows/.job-80-yaml-lint.yml
  .github/workflows/.job-95-push-container.yml
  .github/workflows/job-00-cookiecutter-configuration.yml
  .github/workflows/job-00-generic-notification.yml
  .github/workflows/job-10-container-security.yml
  .github/workflows/job-10-generic-security.yml
  .github/workflows/job-30-cookiecutter-documentation.yml
  .github/workflows/job-50-cookiecutter-precommit.yml
  .github/workflows/job-80-container-dockerfile_linter.yml
  .github/workflows/job-80-cookiecutter-precommit_linter.yml
  .github/workflows/job-80-poetry-commit_lint.yml
  .github/workflows/job-80-poetry-precommit_linter.yml
  .github/workflows/job-95-container-push.yml
  .github/workflows/job-99-poetry-create_release.yml
  .github/workflows/workflow-container.yml
  .github/workflows/workflow-cookiecutter-meta_tests.yml
  .github/workflows/workflow-cookiecutter-template.yml
  .github/workflows/workflow-docker.yml
  .github/workflows/workflow-meta-tests.yml
  .github/workflows/workflow-template-tests.yml
  cicd-tools/boxes/0.1.0.tar.gz
  cicd-tools/boxes/0.1.0/ci/github/actions/action-00-generic-notification/action.yml
  cicd-tools/boxes/0.1.0/ci/github/actions/action-05-cookiecutter-render/action.yml
  cicd-tools/boxes/0.1.0/ci/github/actions/action-05-poetry-dependencies/action.yml
  cicd-tools/boxes/0.1.0/ci/github/actions/action-20-generic-cache/action.yml
  cicd-tools/boxes/0.1.0/ci/github/scripts/job-99-release-candidate.sh
  cicd-tools/boxes/0.1.0/ci/github/scripts/step-initialize-cache.sh
  cicd-tools/boxes/0.1.0/ci/github/scripts/step-set-value-with-default.sh
  cicd-tools/boxes/0.1.0/pre-commit/workflow-header-lint.sh
Due: shell-lint, yaml-lint, workflow-lint

ci(GITHUB): support ansible
  .cicd-tools/boxes/bootstrap/pre-commit/ansible-lint.sh
  .github/scenarios/0.toml_linting-0.workflow_linting.json
  .github/scenarios/0.toml_linting-1.workflow_linting.json
  .github/scenarios/1.toml_linting-0.workflow_linting.json
  .github/scenarios/1.toml_linting-1.workflow_linting.json
  .github/workflows/job-00-cookiecutter-configuration.yml
  .github/workflows/job-40-cookiecutter-ansible-lint.yml
  .github/workflows/job-40-cookiecutter-molecule-role.yml
  .github/workflows/job-80-poetry-commit_lint.yml
  .github/workflows/workflow-ansible-role-molecule.yml
  cicd-tools/boxes/0.1.0.tar.gz
  cicd-tools/boxes/0.1.0/ci/github/actions/action-05-generic-conditional_file_hash/action.yml
  cicd-tools/boxes/0.1.0/ci/github/actions/action-05-generic-platform_homefolder/action.yml
  cicd-tools/boxes/0.1.0/ci/github/actions/action-05-poetry-dependencies/action.yml
  cicd-tools/boxes/0.1.0/ci/github/actions/action-20-generic-cache/action.yml
  cicd-tools/boxes/0.1.0/ci/github/scripts/job-40-generic-ansible_role_name.sh
  cicd-tools/boxes/0.1.0/ci/github/scripts/step-determine-poetry-venv-location.sh
  cicd-tools/boxes/0.1.0/ci/github/scripts/step-initialize-cache.sh
  cicd-tools/boxes/0.1.0/libraries/tools.sh
  cicd-tools/boxes/0.1.0/pre-commit/ansible-lint.sh
  cookiecutter.json
  hooks/post_gen_project.sh
  pyproject.toml
  {{cookiecutter.project_slug}}/.cicd-tools/boxes/bootstrap/pre-commit/ansible-lint.sh
  {{cookiecutter.project_slug}}/.pre-commit-config.yaml
  {{cookiecutter.project_slug}}/ansible_role/.ansible-lint
  {{cookiecutter.project_slug}}/ansible_role/.yamllint
  {{cookiecutter.project_slug}}/ansible_role/README.md
  {{cookiecutter.project_slug}}/ansible_role/defaults/main.yml
  {{cookiecutter.project_slug}}/ansible_role/handlers/main.yml
  {{cookiecutter.project_slug}}/ansible_role/meta/main.yml
  {{cookiecutter.project_slug}}/ansible_role/molecule/default/converge.yml
  {{cookiecutter.project_slug}}/ansible_role/molecule/default/molecule.yml
  {{cookiecutter.project_slug}}/ansible_role/molecule/default/verify.yml
  {{cookiecutter.project_slug}}/ansible_role/requirements.yml
  {{cookiecutter.project_slug}}/ansible_role/tasks/main.yml
  {{cookiecutter.project_slug}}/ansible_role/vars/main.yml
  {{cookiecutter.project_slug}}/pyproject.toml
Due: shell-lint, toml-lint, yaml-lint, workflow-lint

feat(COOKIECUTTER): enforce jsonschema
  .cicd-tools/boxes/bootstrap/schema.json
  .cicd-tools/boxes/bootstrap/schemas/cookiecutter.json
  .cicd-tools/boxes/bootstrap/schemas/manifest.json
  .github/scenarios/0.toml_linting-0.workflow_linting.json
  .github/scenarios/0.toml_linting-1.workflow_linting.json
  .github/scenarios/1.toml_linting-0.workflow_linting.json
  .github/scenarios/1.toml_linting-1.workflow_linting.json
  .github/workflows/workflow-cookiecutter-template.yml
  .pre-commit-config.yaml
  cicd-tools/boxes/0.1.0/schemas/cookiecutter.json
  cicd-tools/boxes/0.1.0/schemas/manifest.json
  cookiecutter.json
  scripts/bootstrap.sh
  scripts/manifest.sh
  {{cookiecutter.project_slug}}/.cicd-tools/boxes/bootstrap/schema.json
  {{cookiecutter.project_slug}}/.cicd-tools/boxes/bootstrap/schemas/cookiecutter.json
  {{cookiecutter.project_slug}}/.cicd-tools/boxes/bootstrap/schemas/manifest.json
  {{cookiecutter.project_slug}}/.pre-commit-config.yaml
Due: shell-lint, yaml-lint, workflow-lint

feat(SCRIPTS): cc template installer
  .github/scenarios/0.toml_linting-0.workflow_linting.json
  .github/scenarios/0.toml_linting-1.workflow_linting.json
  .github/scenarios/1.toml_linting-0.workflow_linting.json
  .github/scenarios/1.toml_linting-1.workflow_linting.json
  .github/scripts/step-setup-environment.sh
  .github/workflows/job-00-generic-notification.yml
  .github/workflows/job-10-container-security.yml
  .github/workflows/job-10-generic-security.yml
  .github/workflows/job-30-cookiecutter-documentation.yml
  .github/workflows/job-40-cookiecutter-ansible-lint.yml
  .github/workflows/job-40-cookiecutter-molecule-role.yml
  .github/workflows/job-50-cookiecutter-precommit.yml
  .github/workflows/job-80-container-dockerfile_linter.yml
  .github/workflows/job-80-cookiecutter-precommit_linter.yml
  .github/workflows/job-80-poetry-commit_lint.yml
  .github/workflows/job-80-poetry-precommit_linter.yml
  .github/workflows/job-95-container-push.yml
  .github/workflows/job-99-poetry-create_release.yml
  cookiecutter.json
  scripts/install-cookiecutter.sh
Due: shell-lint, yaml-lint, workflow-lint

ci(GITHUB): add workflow name to notifications
  .github/scripts/step-setup-environment.sh
  .github/workflows/job-00-generic-notification.yml
  .github/workflows/job-10-container-security.yml
  .github/workflows/job-10-generic-security.yml
  .github/workflows/job-30-cookiecutter-documentation.yml
  .github/workflows/job-40-cookiecutter-ansible-lint.yml
  .github/workflows/job-40-cookiecutter-molecule-role.yml
  .github/workflows/job-50-cookiecutter-precommit.yml
  .github/workflows/job-80-container-dockerfile_linter.yml
  .github/workflows/job-80-cookiecutter-precommit_linter.yml
  .github/workflows/job-80-poetry-commit_lint.yml
  .github/workflows/job-80-poetry-precommit_linter.yml
  .github/workflows/job-95-container-push.yml
  .github/workflows/job-99-poetry-create_release.yml
  .github/workflows/workflow-ansible-role-molecule.yml
  .github/workflows/workflow-container.yml
  .github/workflows/workflow-cookiecutter-template.yml
  .github/workflows/workflow-meta_tests.yml
Due: shell-lint, yaml-lint, workflow-lint

ci(GITHUB): update to latest changelog api
  .github/workflows/job-99-poetry-create_release.yml
  cicd-tools/boxes/0.1.0.tar.gz
  cicd-tools/boxes/0.1.0/ci/github/scripts/job-99-generate-changelog.sh
Due: shell-lint, yaml-lint, workflow-lint

ci(GITHUB): add remote push workflows
  .github/workflows/job-60-cookiecutter-remote_push.yml
  cicd-tools/boxes/0.1.0.tar.gz
  cicd-tools/boxes/0.1.0/ci/github/scripts/job-60-prune-test-releases.sh
  cicd-tools/boxes/0.1.0/ci/github/scripts/job-60-test-push.sh
  cicd-tools/boxes/0.1.0/libraries/environment.sh
Due: shell-lint, yaml-lint, workflow-lint

ci(GITHUB): Make commitizen compatible w tomll v2
  .cicd-tools/boxes/bootstrap/commitizen/pre_bump.sh
  .github/workflows/job-50-cookiecutter-precommit_hooks.yml
  .github/workflows/job-50-poetry-commitizen_hooks.yml
  .github/workflows/workflow-cookiecutter-template.yml
  .github/workflows/workflow-meta_tests.yml
  cicd-tools/boxes/0.1.0.tar.gz
  cicd-tools/boxes/0.1.0/ci/github/scripts/job-60-test-push.sh
  cicd-tools/boxes/0.1.0/commitizen/pre_bump.sh
  scripts/bootstrap.sh
  {{cookiecutter.project_slug}}/.cicd-tools/boxes/bootstrap/commitizen/pre_bump.sh
Due: shell-lint, yaml-lint, workflow-lint

ci(GITHUB): add non-cc workflows for ansible
  .github/actions/action-00-toolbox/action.yml
  .github/workflows/job-40-poetry-ansible-lint.yml
  .github/workflows/job-40-poetry-molecule-role.yml
  .github/workflows/workflow-ansible-role-molecule.yml
  cicd-tools/boxes/0.1.0.tar.gz
  cicd-tools/boxes/0.1.0/ci/github/actions/action-05-generic-docker_osx/action.yml
  {{cookiecutter.project_slug}}/ansible_role/molecule/default/molecule.yml
Due: yaml-lint, workflow-lint

feat(CHANGELOG): make the changelog configurable
  .cicd-tools/configuration/changelog.json
  cicd-tools/boxes/0.1.0.tar.gz
  cicd-tools/boxes/0.1.0/ci/github/scripts/job-99-generate-changelog.sh
  cicd-tools/boxes/0.1.0/libraries/container.sh
  cicd-tools/boxes/0.1.0/pre-commit/shell-fmt.sh
  cicd-tools/boxes/0.1.0/pre-commit/shell-lint.sh
  scripts/bootstrap.sh
  scripts/install-cookiecutter.sh
  {{cookiecutter.project_slug}}/.cicd-tools/configuration/changelog.json
  {{cookiecutter.project_slug}}/.cicd-tools/configuration/cicd-tools.json
Due: shell-lint

ci(GITHUB): workflow to read generic json files
  .github/workflows/job-00-generic-json_file.yml
  .github/workflows/workflow-ansible-role-molecule.yml
Due: yaml-lint, workflow-lint

ci(GITHUB): add non-cc workflow for markdown
  .github/workflows/job-30-generic-documentation.yml
  .github/workflows/workflow-ansible-role-molecule.yml
Due: yaml-lint, workflow-lint

ci(GITHUB): workflow for active molecule scenarios
  .github/workflows/job-00-generic-molecule_scenarios.yml
  .github/workflows/job-00-generic-notification.yml
  .github/workflows/workflow-meta_tests.yml
  cicd-tools/boxes/0.1.0.tar.gz
  cicd-tools/boxes/0.1.0/ci/generic/scripts/molecule-scenarios.sh
  cicd-tools/boxes/0.1.0/ci/github/actions/action-00-generic-notification/action.yml
  {{cookiecutter.project_slug}}/ansible_role/molecule/noci-test/molecule.yml
Due: shell-lint, yaml-lint, workflow-lint

ci(GITHUB): allow json formatted release content
  .github/workflows/job-99-poetry-create_release.yml
Due: yaml-lint, workflow-lint

build(DOCKER): update container trufflehog version
  .cicd-tools/container/Dockerfile
  .cicd-tools/container/Dockerfile.sha256
  .github/workflows/workflow-container.yml
  scripts/container.sh
Due: shell-lint, yaml-lint, workflow-lint

ci(GITHUB): enhance notification tests
  .github/workflows/job-00-generic-notification.yml
  .github/workflows/job-10-container-security.yml
  .github/workflows/job-10-generic-security.yml
  .github/workflows/job-30-cookiecutter-documentation.yml
  .github/workflows/job-30-generic-documentation.yml
  .github/workflows/job-40-cookiecutter-ansible-lint.yml
  .github/workflows/job-40-cookiecutter-molecule-role.yml
  .github/workflows/job-40-poetry-ansible-lint.yml
  .github/workflows/job-40-poetry-molecule-role.yml
  .github/workflows/job-50-cookiecutter-precommit_hooks.yml
  .github/workflows/job-50-poetry-commitizen_hooks.yml
  .github/workflows/job-60-cookiecutter-remote_push.yml
  .github/workflows/job-80-container-dockerfile_linter.yml
  .github/workflows/job-80-cookiecutter-precommit_linter.yml
  .github/workflows/job-80-poetry-commit_lint.yml
  .github/workflows/job-80-poetry-precommit_linter.yml
  .github/workflows/job-95-container-push.yml
  .github/workflows/job-99-poetry-create_release.yml
  .github/workflows/workflow-meta_tests.yml
  cicd-tools/boxes/0.1.0.tar.gz
  cicd-tools/boxes/0.1.0/ci/github/actions/action-00-generic-notification/action.yml
Due: yaml-lint, workflow-lint

ci(GITHUB): workflow for secret validation
  .github/workflows/job-00-generic-secret_exists.yml
  .github/workflows/workflow-meta_tests.yml
Due: yaml-lint, workflow-lint

build(COOKIECUTTER): remove github action versions
  .github/scenarios/0.toml_linting-0.workflow_linting.json
  .github/scenarios/0.toml_linting-1.workflow_linting.json
  .github/scenarios/1.toml_linting-0.workflow_linting.json
  .github/scenarios/1.toml_linting-1.workflow_linting.json
  cicd-tools/boxes/0.1.0.tar.gz
  cicd-tools/boxes/0.1.0/schemas/cookiecutter.json
  cookiecutter.json
Due: none

ci(GITHUB): workflow for ansible galaxy import
  .github/workflows/job-95-galaxy-import_role.yml
Due: yaml-lint, workflow-lint

Path conditions:
  shell-lint: any of: ^.+\.sh$
  toml-lint: any of: ^.+\.toml$
  yaml-lint: any of: ^.+\.(yaml|yml)$
  workflow-lint: any of: ^.github/.+\.(yaml|yml)$
