Repository cicd-tools-org/cicd-tools: changes, and which pre-commit hooks are due for each by the changed paths.
All: shell-fmt, shell-lint, toml-lint, workflow-header-lint, workflow-lint

shell-fmt:
  name: shell-fmt
  description: Lint the project's shell script's formatting.
  entry: --entrypoint=shfmt --env=FORCE_COLOR=1 ghcr.io/niall-byrne/cicd-tools:master
  args:
  - -d
  - --indent=2
  - -ci
  - -sr
  language: docker_image
  pass_filenames: true
  stages:
  - commit

shell-lint:
  name: shell-lint
  description: Lint the project's shell scripts.
  entry: --entrypoint=shellcheck ghcr.io/niall-byrne/cicd-tools:master
  args:
  - --color=always
  - --source-path=SCRIPTDIR
  - --exclude=SC2317
  - -x
  language: docker_image
  pass_filenames: true
  stages:
  - commit

toml-lint:
  name: toml-lint
  description: Lint the project's TOML files.
  args:
  - ghcr.io/niall-byrne/cicd-tools:master
  entry: ./.cicd-tools/boxes/bootstrap/pre-commit/toml-lint.sh
  language: system
  stages:
  - commit
  pass_filenames: true

workflow-header-lint:
  name: workflow-header-lint
  description: Lint the headers of the project's GitHub workflow files.
  entry: ./.cicd-tools/boxes/bootstrap/pre-commit/workflow-header-lint.sh
  language: system
  pass_filenames: true
  stages:
  - commit

workflow-lint:
  name: workflow-lint
  description: Lint the project's GitHub workflow files.
  entry: --entrypoint=actionlint ghcr.io/niall-byrne/cicd-tools:master
  args:
  - -color
  - -config-file
  - .cicd-tools/configuration/actionlint.yaml
  language: docker_image
  pass_filenames: false
  stages:
  - commit

ci(GITHUB): support multiple container platforms
  .cicd-tools/container/Dockerfile
  .cicd-tools/container/amd64/Dockerfile
  .cicd-tools/container/amd64/Dockerfile.sha256
  .cicd-tools/container/arm64/Dockerfile.sha256
  .github/workflows/job-95-container-multiarch.yml
  .github/workflows/workflow-container-multiarch.yml
  README.md
  markdown/OVERVIEW.md
  scripts/container.sh
  scripts/containers.sh
Due: shell-fmt, shell-lint, workflow-header-lint, workflow-lint

ci(GITHUB): artifacts aggregate build outputs
  .github/workflows/job-95-generic-build_artifact.yml
  .github/workflows/job-99-generic-attach_artifact_to_release.yml
Due: workflow-header-lint, workflow-lint

feat(GITHUB): upgrade actions/checkout to v4
  .github/workflows/job-00-cookiecutter-read_configuration.yml
  .github/workflows/job-00-generic-identify_molecule_scenarios.yml
  .github/workflows/job-00-generic-identify_secret_exists.yml
  .github/workflows/job-00-generic-notification.yml
  .github/workflows/job-00-generic-read_json_file.yml
  .github/workflows/job-10-container-security_scan_container.yml
  .github/workflows/job-10-generic-security_scan_credentials.yml
  .github/workflows/job-30-cookiecutter-markdown_links.yml
  .github/workflows/job-30-generic-markdown_links.yml
  .github/workflows/job-40-compose-run_cached_commands.yml
  .github/workflows/job-40-cookiecutter-ansible_lint.yml
  .github/workflows/job-40-cookiecutter-molecule_command.yml
  .github/workflows/job-40-npm-run_cached_command.yml
  .github/workflows/job-40-poetry-ansible_lint.yml
  .github/workflows/job-40-poetry-molecule_command.yml
  .github/workflows/job-40-poetry-run_cached_commands.yml
  .github/workflows/job-50-cookiecutter-test_precommit_hooks.yml
  .github/workflows/job-50-poetry-test_basic_precommit_hooks.yml
  .github/workflows/job-50-poetry-test_commitizen_hooks.yml
  .github/workflows/job-60-cookiecutter-remote_push.yml
  .github/workflows/job-80-container-dockerfile_linter.yml
  .github/workflows/job-80-cookiecutter-precommit_commit_stage_hook.yml
  .github/workflows/job-80-poetry-precommit_commit_stage_hook.yml
  .github/workflows/job-80-poetry-rev_range_command.yml
  .github/workflows/job-95-container-flyio_deploy.yml
  .github/workflows/job-95-container-gcp_cloud_run_deploy.yml
  .github/workflows/job-95-container-multiarch.yml
  .github/workflows/job-95-container-push.yml
  .github/workflows/job-95-generic-build_artifact.yml
  .github/workflows/job-95-mac_maker-apply_profile.yml
  .github/workflows/job-95-poetry-galaxy_import_collection.yml
  .github/workflows/job-95-poetry-galaxy_import_role.yml
  .github/workflows/job-99-generic-attach_artifact_to_release.yml
  .github/workflows/job-99-poetry-create_release.yml
  .github/workflows/workflow-meta_tests.yml
Due: workflow-header-lint, workflow-lint

feat(CONTAINER): add ca-certificates
  .cicd-tools/container/Dockerfile
Due: none

feat(GITHUB): upgrade actions/cache to v4
  .github/workflows/job-40-compose-run_cached_commands.yml
  .github/workflows/job-50-poetry-test_basic_precommit_hooks.yml
  .github/workflows/job-80-cookiecutter-precommit_commit_stage_hook.yml
  .github/workflows/job-80-poetry-precommit_commit_stage_hook.yml
  .github/workflows/job-95-mac_maker-apply_profile.yml
  cicd-tools/boxes/0.1.0.tar.gz
  cicd-tools/boxes/0.1.0/ci/github/actions/action-05-cookiecutter-render/action.yml
  cicd-tools/boxes/0.1.0/ci/github/actions/action-05-npm-dependencies/action.yml
  cicd-tools/boxes/0.1.0/ci/github/actions/action-05-poetry-dependencies/action.yml
  cicd-tools/boxes/0.1.0/ci/github/actions/action-20-generic-cache/action.yml
Due: workflow-header-lint, workflow-lint

ci(PRE-COMMIT): avoid commitizen 3.16.0
  pyproject.toml
Due: toml-lint

feat(GITHUB): upgrade codeql-actions/upload-sarif to v3
  .github/workflows/job-10-container-security_scan_container.yml
Due: workflow-header-lint, workflow-lint

feat(GITHUB): upgrade actions/setup-python to v5
  .github/workflows/job-30-cookiecutter-markdown_links.yml
  .github/workflows/job-40-cookiecutter-ansible_lint.yml
  .github/workflows/job-40-cookiecutter-molecule_command.yml
  .github/workflows/job-40-poetry-ansible_lint.yml
  .github/workflows/job-40-poetry-molecule_command.yml
  .github/workflows/job-40-poetry-run_cached_commands.yml
  .github/workflows/job-50-cookiecutter-test_precommit_hooks.yml
  .github/workflows/job-50-poetry-test_basic_precommit_hooks.yml
  .github/workflows/job-50-poetry-test_commitizen_hooks.yml
  .github/workflows/job-60-cookiecutter-remote_push.yml
  .github/workflows/job-80-cookiecutter-precommit_commit_stage_hook.yml
  .github/workflows/job-80-poetry-precommit_commit_stage_hook.yml
  .github/workflows/job-80-poetry-rev_range_command.yml
  .github/workflows/job-95-mac_maker-apply_profile.yml
  .github/workflows/job-95-poetry-galaxy_import_collection.yml
  .github/workflows/job-95-poetry-galaxy_import_role.yml
Due: workflow-header-lint, workflow-lint

ci(GITHUB): add pre/post hook commands
  .github/workflows/job-80-poetry-precommit_commit_stage_hook.yml
Due: workflow-header-lint, workflow-lint

ci(PRE-COMMIT): update to latest, vale config
  .github/scripts/job-50-test-precommit.sh
  .github/workflows/workflow-cookiecutter-template.yml
  .github/workflows/workflow-meta_tests.yml
  .gitignore
  .pre-commit-config.yaml
  .vale.ini
  .vale/Vocab/cicd-tools/accept.txt
  README.md
  markdown/OVERVIEW.md
  markdown/project_types/COOKIECUTTER.md
  markdown/project_types/POETRY.md
  pyproject.toml
  scripts/install-cookiecutter.sh
  scripts/libraries/installer.sh
  {{cookiecutter.project_slug}}/.github/scripts/job-50-test-precommit.sh
  {{cookiecutter.project_slug}}/.github/workflows/workflow-push.yml
  {{cookiecutter.project_slug}}/.gitignore
  {{cookiecutter.project_slug}}/.pre-commit-config.yaml
  {{cookiecutter.project_slug}}/.vale.ini
  {{cookiecutter.project_slug}}/.vale/Vocab/{{cookiecutter.project_slug}}/accept.txt
Due: shell-fmt, shell-lint, toml-lint, workflow-header-lint, workflow-lint

feat(CONTAINER): add vale version 3
  .cicd-tools/container/Dockerfile
  .cicd-tools/container/amd64/Dockerfile.sha256
  .cicd-tools/container/arm64/Dockerfile.sha256
Due: none

ci(GITHUB): upgrade docker actions
  .github/workflows/job-10-container-security_scan_container.yml
  .github/workflows/job-95-container-multiarch.yml
  .github/workflows/job-95-container-push.yml
Due: workflow-header-lint, workflow-lint

ci(GITHUB): add markdown linting and spelling
  .github/workflows/workflow-cookiecutter-template.yml
Due: workflow-header-lint, workflow-lint

ci(GITHUB): scan multiple container platforms
  .github/workflows/job-10-container-security_scan_container.yml
  .github/workflows/workflow-container-multiarch.yml
Due: workflow-header-lint, workflow-lint

ci(GITHUB): move project from master -> main
  .github/actions/action-00-toolbox/action.yml
  .github/scenarios/0.toml_linting-0.workflow_linting.json
  .github/scenarios/0.toml_linting-1.workflow_linting.json
  .github/scenarios/1.toml_linting-0.workflow_linting.json
  .github/scenarios/1.toml_linting-1.workflow_linting.json
  .github/scripts/step-setup-environment.sh
  .github/workflows/workflow-cookiecutter-template.yml
  README.md
  cicd-tools/boxes/0.1.0.tar.gz
  cicd-tools/boxes/0.1.0/ci/github/scripts/job-95-apply_profile.sh
  cookiecutter.json
  markdown/OVERVIEW.md
  {{cookiecutter.project_slug}}/.github/actions/action-00-toolbox/action.yml
  {{cookiecutter.project_slug}}/.github/scripts/step-setup-environment.sh
  {{cookiecutter.project_slug}}/.github/workflows/workflow-push.yml
Due: shell-fmt, shell-lint, workflow-header-lint, workflow-lint

fix(SCRIPTS): installer recursive copy
  scripts/libraries/installer.sh
Due: shell-fmt, shell-lint

ci(GITHUB): poetry workflow env
  .github/workflows/job-40-poetry-run_cached_commands.yml
Due: workflow-header-lint, workflow-lint

docs(README): update build badges
  README.md
Due: none

ci(GITHUB): pre-commit workflow env
  .github/workflows/job-80-poetry-precommit_commit_stage_hook.yml
Due: workflow-header-lint, workflow-lint

feat(SCRIPTS): github handle, markdown ci config
  .github/scenarios/0.toml_linting-0.workflow_linting.json
  .github/scenarios/0.toml_linting-1.workflow_linting.json
  .github/scenarios/1.toml_linting-0.workflow_linting.json
  .github/scenarios/1.toml_linting-1.workflow_linting.json
  scripts/install-poetry.sh
  scripts/libraries/installer.sh
  {{cookiecutter.project_slug}}/.github/config/actions/gaurav-nelson-github-action-markdown-link-check.json
  {{cookiecutter.project_slug}}/.github/scripts/step-setup-environment.sh
Due: shell-fmt, shell-lint

ci(PRE-COMMIT): update to cicd-tools 0.5.0
  .github/scripts/job-50-test-precommit.sh
  .github/workflows/workflow-cookiecutter-template.yml
  .github/workflows/workflow-meta_tests.yml
  .pre-commit-config.yaml
  Makefile
  {{cookiecutter.project_slug}}/.github/scripts/job-50-test-precommit.sh
  {{cookiecutter.project_slug}}/.github/workflows/workflow-push.yml
  {{cookiecutter.project_slug}}/.pre-commit-config.yaml
Due: shell-fmt, shell-lint, workflow-header-lint, workflow-lint

ci(GITHUB): add tmate to molecule workflow
  .github/workflows/job-40-poetry-molecule_command.yml
  .vale/Vocab/cicd-tools/accept.txt
  cicd-tools/boxes/0.1.0.tar.gz
  cicd-tools/boxes/0.1.0/ci/github/actions/action-01-generic-debug/action.yml
Due: workflow-header-lint, workflow-lint

ci(GITHUB): pre-commit workflow verbosity, stage
  .github/workflows/job-80-poetry-precommit_commit_stage_hook.yml
Due: workflow-header-lint, workflow-lint

ci(GITHUB): expose anchore scan options
  .github/workflows/job-10-container-security_scan_container.yml
  .github/workflows/workflow-container-multiarch.yml
  .vale/Vocab/cicd-tools/accept.txt
Due: workflow-header-lint, workflow-lint

feat(GITHUB): standardize workflow needs clauses
  .github/workflows/workflow-ansible-role-molecule.yml
  .github/workflows/workflow-compose-command.yml
  .github/workflows/workflow-container-multiarch.yml
  .github/workflows/workflow-cookiecutter-template.yml
  .github/workflows/workflow-mac_maker.yml
  .github/workflows/workflow-meta_tests.yml
  .github/workflows/workflow-npm-node_application.yml
  .github/workflows/workflow-poetry-command.yml
  {{cookiecutter.project_slug}}/.github/workflows/workflow-push.yml
Due: workflow-header-lint, workflow-lint

ci(GITHUB): ops genie workflow and action
  .github/workflows/job-00-generic-alert_opsgenie.yml
  .github/workflows/workflow-meta_tests.yml
  cicd-tools/boxes/0.1.0.tar.gz
  cicd-tools/boxes/0.1.0/ci/github/actions/action-00-generic-alert_opsgenie/action.yml
  cicd-tools/boxes/0.1.0/ci/notifications/scripts/opsgenie.sh
Due: shell-fmt, shell-lint, workflow-header-lint, workflow-lint

feat(LOGGING): options to manage newlines
  cicd-tools/boxes/0.1.0.tar.gz
  cicd-tools/boxes/0.1.0/libraries/environment.sh
  cicd-tools/boxes/0.1.0/libraries/logging.sh
Due: shell-fmt, shell-lint

feat(BASH): isolate all argument parsing vars
  .cicd-tools/bin/manifest.sh
  .cicd-tools/bin/toolbox.sh
  .cicd-tools/bin/verify.sh
  cicd-tools/boxes/0.1.0.tar.gz
  cicd-tools/boxes/0.1.0/ci/generic/scripts/execute-serial-commands.sh
  cicd-tools/boxes/0.1.0/ci/generic/scripts/molecule-scenarios.sh
  cicd-tools/boxes/0.1.0/ci/github/scripts/step-set-value-with-default.sh
  cicd-tools/boxes/0.1.0/ci/notifications/scripts/opsgenie.sh
  cicd-tools/boxes/0.1.0/ci/notifications/scripts/slack.sh
  scripts/bootstrap.sh
  scripts/install-cookiecutter.sh
  scripts/install-poetry.sh
  scripts/install-precommit.sh
  scripts/manifest.sh
  scripts/package.sh
Due: shell-fmt, shell-lint

feat(CONTAINER): update vale3 to 3.6.0
  .cicd-tools/container/Dockerfile
  .cicd-tools/container/amd64/Dockerfile.sha256
  .cicd-tools/container/arm64/Dockerfile.sha256
  scripts/containers.sh
Due: shell-fmt, shell-lint

feat(CONTAINER): add yq to utilities container
  .cicd-tools/containers/utilities/Dockerfile
  .cicd-tools/containers/utilities/amd64/Dockerfile.sha256
  .cicd-tools/containers/utilities/arm64/Dockerfile.sha256
Due: none

feat(CONTAINER): add gpg container
  .cicd-tools/containers/gpg/Dockerfile
  .cicd-tools/containers/utilities/Dockerfile
  .cicd-tools/containers/utilities/amd64/Dockerfile.sha256
  .cicd-tools/containers/utilities/arm64/Dockerfile.sha256
  .github/workflows/workflow-container-gpg-multiarch.yml
  .github/workflows/workflow-container-utilities-multiarch.yml
  .vale/Vocab/cicd-tools/accept.txt
  README.md
  markdown/OVERVIEW.md
  scripts/containers.sh
Due: shell-fmt, shell-lint, workflow-header-lint, workflow-lint

feat(BASH): refactor environment library
  .cicd-tools/bin/toolbox.sh
  cicd-tools/boxes/0.1.0.tar.gz
  cicd-tools/boxes/0.1.0/ci/github/scripts/job-60-prune-test-releases.sh
  cicd-tools/boxes/0.1.0/ci/github/scripts/job-60-test-push.sh
  cicd-tools/boxes/0.1.0/ci/github/scripts/job-95-apply_profile.sh
  cicd-tools/boxes/0.1.0/ci/github/scripts/step-determine-pushed-commits.sh
  cicd-tools/boxes/0.1.0/ci/notifications/scripts/opsgenie.sh
  cicd-tools/boxes/0.1.0/ci/notifications/scripts/slack.sh
  cicd-tools/boxes/0.1.0/libraries/environment.sh
  cicd-tools/boxes/0.1.0/pre-commit/gettext-translations.sh
  scripts/libraries/installer.sh
Due: shell-fmt, shell-lint

feat(SCRIPTS): updated installer/utilities
  scripts/bootstrap.sh
  scripts/containers.sh
  scripts/install-cookiecutter.sh
  scripts/install-poetry.sh
  scripts/install-precommit.sh
  scripts/libraries/installer.sh
  scripts/libraries/toolbox.sh
  scripts/manifest.sh
  scripts/package.sh
Due: shell-fmt, shell-lint

feat(BASH): add container management library
  cicd-tools/boxes/0.1.0.tar.gz
  cicd-tools/boxes/0.1.0/libraries/container.sh
Due: shell-fmt, shell-lint

feat(PRE-COMMIT): support gettext translations
  .cicd-tools/containers/gettext/Dockerfile
  .github/scenarios/0.toml_linting-0.workflow_linting.json
  .github/scenarios/0.toml_linting-1.workflow_linting.json
  .github/scenarios/1.toml_linting-0.workflow_linting.json
  .github/scenarios/1.toml_linting-1.workflow_linting.json
  .github/workflows/workflow-container-gettext-multiarch.yml
  .vale/Vocab/cicd-tools/accept.txt
  README.md
  cicd-tools/boxes/0.1.0.tar.gz
  cicd-tools/boxes/0.1.0/pre-commit/gettext-translations.sh
  cookiecutter.json
  scripts/containers.sh
  {{cookiecutter.project_slug}}/.github/workflows/workflow-push.yml
  {{cookiecutter.project_slug}}/.pre-commit-config.yaml
  {{cookiecutter.project_slug}}/python/__init__.py
  {{cookiecutter.project_slug}}/python/locales/base.pot
  {{cookiecutter.project_slug}}/python/locales/en/LC_MESSAGES/base.po
  {{cookiecutter.project_slug}}/python/main.py
Due: shell-fmt, shell-lint, workflow-header-lint, workflow-lint

feat(BASH): standardize usage messages
  cicd-tools/boxes/0.1.0.tar.gz
  cicd-tools/boxes/0.1.0/libraries/colours.sh
  cicd-tools/boxes/0.1.0/libraries/tools.sh
Due: shell-fmt, shell-lint

feat(BASH): add env var override library
  cicd-tools/boxes/0.1.0.tar.gz
  cicd-tools/boxes/0.1.0/libraries/override.sh
Due: shell-fmt, shell-lint

feat(BASH): standardize shellcheck source paths
  cicd-tools/boxes/0.1.0.tar.gz
  cicd-tools/boxes/0.1.0/libraries/environment.sh
  cicd-tools/boxes/0.1.0/libraries/logging.sh
  cicd-tools/boxes/0.1.0/libraries/tools.sh
  cicd-tools/boxes/0.1.0/pre-commit/lint-ansible.sh
  cicd-tools/boxes/0.1.0/pre-commit/lint-github-workflow-header.sh
  cicd-tools/boxes/0.1.0/pre-commit/spelling-commit-message.sh
Due: shell-fmt, shell-lint

docs(MARKDOWN): pre-commit 0.6.0 details
  markdown/OVERVIEW.md
  markdown/project_types/COOKIECUTTER.md
  markdown/project_types/POETRY.md
Due: none

docs(MARKDOWN): three tiered installation approach
  README.md
  markdown/project_types/COOKIECUTTER.md
  markdown/project_types/LIGHT.md
  markdown/project_types/STANDARD.md
  scripts/install-cookiecutter.sh
  scripts/install-light.sh
  scripts/install-standard.sh
Due: shell-fmt, shell-lint

Path conditions:
  shell-fmt: any of: ^.+\.(bash|sh)$, but not: ^{{cookiecutter\.project_slug}}/.+$|^\.cicd-tools/boxes/.+$
  shell-lint: any of: ^.+\.(bash|sh)$, but not: ^{{cookiecutter\.project_slug}}/.+$|^\.cicd-tools/boxes/.+$
  toml-lint: any of: ^.+\.toml$
  workflow-header-lint: any of: ^\.github/workflows/.+\.(yaml|yml)$, but not: ^{{cookiecutter\.project_slug}}/.+$
  workflow-lint: any of: ^\.github/workflows/.+\.(yaml|yml)$, but not: ^{{cookiecutter\.project_slug}}/.+$
