Repository cicd-tools-org/cicd-tools: changes, and which pre-commit hooks are due for each by the changed paths.
All: shell-fmt, shell-lint, toml-lint, workflow-lint, workflow-header-lint

shell-fmt:
  name: shell-fmt
  description: Format the project's shell scripts.
  entry: ./{{cookiecutter.project_slug}}/.pre-commit/shell-fmt.sh
  language: system
  pass_filenames: true
  stages:
  - commit

shell-lint:
  name: shell-lint
  description: Lint the project's shell scripts.
  entry: ./{{cookiecutter.project_slug}}/.pre-commit/shell-lint.sh
  language: system
  pass_filenames: true
  stages:
  - commit

toml-lint:
  name: toml-lint
  description: Lint the project's TOML files.
  entry: ./{{cookiecutter.project_slug}}/.pre-commit/toml-lint.sh
  language: system
  stages:
  - commit
  pass_filenames: true

workflow-lint:
  name: workflow-lint
  description: Lint the project's GitHub workflow files.
  entry: ./{{cookiecutter.project_slug}}/.pre-commit/workflow-lint.sh
  language: system
  pass_filenames: false
  stages:
  - commit

workflow-header-lint:
  name: workflow-header-lint
  description: Lint the headers of the project's GitHub workflow files.
  entry: ./{{cookiecutter.project_slug}}/.pre-commit/workflow-header-lint.sh
  language: system
  pass_filenames: true
  stages:
  - commit

feat(GITHUB): upgrade codeql-actions/upload-sarif to v3
  .github/workflows/job-10-container-security_scan_container.yml
Due: workflow-lint, workflow-header-lint

ci(PRE-COMMIT): avoid commitizen 3.16.0
  pyproject.toml
Due: toml-lint

feat(CONTAINER): add ca-certificates
  .cicd-tools/container/Dockerfile
Due: none

feat(CONTAINER): add vale version 3
  .cicd-tools/container/Dockerfile
  .cicd-tools/container/amd64/Dockerfile.sha256
  .cicd-tools/container/arm64/Dockerfile.sha256
Due: none

ci(GITHUB): scan multiple container platforms
  .github/workflows/job-10-container-security_scan_container.yml
  .github/workflows/workflow-container-multiarch.yml
Due: workflow-lint, workflow-header-lint

ci(GITHUB): upgrade docker actions
  .github/workflows/job-10-container-security_scan_container.yml
  .github/workflows/job-95-container-multiarch.yml
  .github/workflows/job-95-container-push.yml
Due: workflow-lint, workflow-header-lint

ci(GITHUB): add pre/post hook commands
  .github/workflows/job-80-poetry-precommit_commit_stage_hook.yml
Due: workflow-lint, workflow-header-lint

ci(PRE-COMMIT): update to latest, vale config
  .github/scripts/job-50-test-precommit.sh
  .github/workflows/workflow-cookiecutter-template.yml
  .github/workflows/workflow-meta_tests.yml
  .gitignore
  .pre-commit-config.yaml
  .vale.ini
  .vale/Vocab/cicd-tools/accept.txt
  README.md
  markdown/OVERVIEW.md
  markdown/project_types/COOKIECUTTER.md
  markdown/project_types/POETRY.md
  pyproject.toml
  scripts/install-cookiecutter.sh
  scripts/libraries/installer.sh
  {{cookiecutter.project_slug}}/.github/scripts/job-50-test-precommit.sh
  {{cookiecutter.project_slug}}/.github/workflows/workflow-push.yml
  {{cookiecutter.project_slug}}/.gitignore
  {{cookiecutter.project_slug}}/.pre-commit-config.yaml
  {{cookiecutter.project_slug}}/.vale.ini
  {{cookiecutter.project_slug}}/.vale/Vocab/{{cookiecutter.project_slug}}/accept.txt
Due: shell-fmt, shell-lint, toml-lint, workflow-lint, workflow-header-lint

ci(GITHUB): add markdown linting and spelling
  .github/workflows/workflow-cookiecutter-template.yml
Due: workflow-lint, workflow-header-lint

fix(SCRIPTS): installer recursive copy
  scripts/libraries/installer.sh
Due: shell-fmt, shell-lint

ci(GITHUB): poetry workflow env
  .github/workflows/job-40-poetry-run_cached_commands.yml
Due: workflow-lint, workflow-header-lint

feat(SCRIPTS): markdown link action config
  scripts/install-poetry.sh
  scripts/libraries/installer.sh
  {{cookiecutter.project_slug}}/.github/config/actions/gaurav-nelson-github-action-markdown-link-check.json
Due: shell-fmt, shell-lint

docs(README): update build badges
  README.md
Due: none

ci(GITHUB): move project from master -> main
  .github/actions/action-00-toolbox/action.yml
  .github/scenarios/0.toml_linting-0.workflow_linting.json
  .github/scenarios/0.toml_linting-1.workflow_linting.json
  .github/scenarios/1.toml_linting-0.workflow_linting.json
  .github/scenarios/1.toml_linting-1.workflow_linting.json
  .github/scripts/step-setup-environment.sh
  .github/workflows/workflow-cookiecutter-template.yml
  README.md
  cicd-tools/boxes/0.1.0.tar.gz
  cicd-tools/boxes/0.1.0/ci/github/scripts/job-95-apply_profile.sh
  cookiecutter.json
  markdown/OVERVIEW.md
  {{cookiecutter.project_slug}}/.github/actions/action-00-toolbox/action.yml
  {{cookiecutter.project_slug}}/.github/scripts/step-setup-environment.sh
  {{cookiecutter.project_slug}}/.github/workflows/workflow-push.yml
Due: shell-fmt, shell-lint, workflow-lint, workflow-header-lint

ci(GITHUB): pre-commit workflow env
  .github/workflows/job-80-poetry-precommit_commit_stage_hook.yml
Due: workflow-lint, workflow-header-lint

ci(GITHUB): ops genie workflow and action
  .github/workflows/job-00-generic-alert_opsgenie.yml
  .github/workflows/workflow-meta_tests.yml
  cicd-tools/boxes/0.1.0.tar.gz
  cicd-tools/boxes/0.1.0/ci/github/actions/action-00-generic-alert_opsgenie/action.yml
  cicd-tools/boxes/0.1.0/ci/notifications/scripts/opsgenie.sh
Due: shell-fmt, shell-lint, workflow-lint, workflow-header-lint

ci(GITHUB): pre-commit workflow verbosity, stage
  .github/workflows/job-80-poetry-precommit_commit_stage_hook.yml
Due: workflow-lint, workflow-header-lint

feat(GITHUB): standardize workflow needs clauses
  .github/workflows/workflow-ansible-role-molecule.yml
  .github/workflows/workflow-compose-command.yml
  .github/workflows/workflow-container-multiarch.yml
  .github/workflows/workflow-cookiecutter-template.yml
  .github/workflows/workflow-mac_maker.yml
  .github/workflows/workflow-meta_tests.yml
  .github/workflows/workflow-npm-node_application.yml
  .github/workflows/workflow-poetry-command.yml
  {{cookiecutter.project_slug}}/.github/workflows/workflow-push.yml
Due: workflow-lint, workflow-header-lint

ci(GITHUB): add tmate to molecule workflow
  .github/workflows/job-40-poetry-molecule_command.yml
  .vale/Vocab/cicd-tools/accept.txt
  cicd-tools/boxes/0.1.0.tar.gz
  cicd-tools/boxes/0.1.0/ci/github/actions/action-01-generic-debug/action.yml
Due: workflow-lint, workflow-header-lint

ci(PRE-COMMIT): update to cicd-tools 0.5.0
  .github/scripts/job-50-test-precommit.sh
  .github/workflows/workflow-cookiecutter-template.yml
  .github/workflows/workflow-meta_tests.yml
  .pre-commit-config.yaml
  Makefile
  {{cookiecutter.project_slug}}/.github/scripts/job-50-test-precommit.sh
  {{cookiecutter.project_slug}}/.github/workflows/workflow-push.yml
  {{cookiecutter.project_slug}}/.pre-commit-config.yaml
Due: shell-fmt, shell-lint, workflow-lint, workflow-header-lint

ci(GITHUB): expose anchore scan options
  .github/workflows/job-10-container-security_scan_container.yml
  .github/workflows/workflow-container-multiarch.yml
  .vale/Vocab/cicd-tools/accept.txt
Due: workflow-lint, workflow-header-lint

feat(CONTAINER): update vale3 to 3.6.0
  .cicd-tools/container/Dockerfile
  .cicd-tools/container/amd64/Dockerfile.sha256
  .cicd-tools/container/arm64/Dockerfile.sha256
  scripts/containers.sh
Due: shell-fmt, shell-lint

ci(GITHUB): refactor for reusability
  .github/scripts/job-50-test-precommit.sh
  .github/scripts/step-render-template.sh
  .github/workflows/.job-80-json-schema.yml
  .github/workflows/.job-80-shell-lint.yml
  .github/workflows/.job-80-toml-lint.yml
  .github/workflows/.job-80-workflow-lint.yml
  .github/workflows/.job-80-yaml-lint.yml
  .github/workflows/.job-95-push-container.yml
  .github/workflows/job-00-cookiecutter-configuration.yml
  .github/workflows/job-00-generic-notification.yml
  .github/workflows/job-10-container-security.yml
  .github/workflows/job-10-generic-security.yml
  .github/workflows/job-30-cookiecutter-documentation.yml
  .github/workflows/job-50-cookiecutter-precommit.yml
  .github/workflows/job-80-container-dockerfile_linter.yml
  .github/workflows/job-80-cookiecutter-precommit_linter.yml
  .github/workflows/job-80-poetry-commit_lint.yml
  .github/workflows/job-80-poetry-precommit_linter.yml
  .github/workflows/job-95-container-push.yml
  .github/workflows/job-99-poetry-create_release.yml
  .github/workflows/workflow-container.yml
  .github/workflows/workflow-cookiecutter-meta_tests.yml
  .github/workflows/workflow-cookiecutter-template.yml
  .github/workflows/workflow-docker.yml
  .github/workflows/workflow-meta-tests.yml
  .github/workflows/workflow-template-tests.yml
  cicd-tools/boxes/0.1.0.tar.gz
  cicd-tools/boxes/0.1.0/ci/github/actions/action-00-generic-notification/action.yml
  cicd-tools/boxes/0.1.0/ci/github/actions/action-05-cookiecutter-render/action.yml
  cicd-tools/boxes/0.1.0/ci/github/actions/action-05-poetry-dependencies/action.yml
  cicd-tools/boxes/0.1.0/ci/github/actions/action-20-generic-cache/action.yml
  cicd-tools/boxes/0.1.0/ci/github/scripts/job-99-release-candidate.sh
  cicd-tools/boxes/0.1.0/ci/github/scripts/step-initialize-cache.sh
  cicd-tools/boxes/0.1.0/ci/github/scripts/step-set-value-with-default.sh
  cicd-tools/boxes/0.1.0/pre-commit/workflow-header-lint.sh
Due: shell-fmt, shell-lint, workflow-lint, workflow-header-lint

feat(COOKIECUTTER): enforce jsonschema
  .cicd-tools/boxes/bootstrap/schema.json
  .cicd-tools/boxes/bootstrap/schemas/cookiecutter.json
  .cicd-tools/boxes/bootstrap/schemas/manifest.json
  .github/scenarios/0.toml_linting-0.workflow_linting.json
  .github/scenarios/0.toml_linting-1.workflow_linting.json
  .github/scenarios/1.toml_linting-0.workflow_linting.json
  .github/scenarios/1.toml_linting-1.workflow_linting.json
  .github/workflows/workflow-cookiecutter-template.yml
  .pre-commit-config.yaml
  cicd-tools/boxes/0.1.0/schemas/cookiecutter.json
  cicd-tools/boxes/0.1.0/schemas/manifest.json
  cookiecutter.json
  scripts/bootstrap.sh
  scripts/manifest.sh
  {{cookiecutter.project_slug}}/.cicd-tools/boxes/bootstrap/schema.json
  {{cookiecutter.project_slug}}/.cicd-tools/boxes/bootstrap/schemas/cookiecutter.json
  {{cookiecutter.project_slug}}/.cicd-tools/boxes/bootstrap/schemas/manifest.json
  {{cookiecutter.project_slug}}/.pre-commit-config.yaml
Due: shell-fmt, shell-lint, workflow-lint, workflow-header-lint

ci(GITHUB): support ansible
  .cicd-tools/boxes/bootstrap/pre-commit/ansible-lint.sh
  .github/scenarios/0.toml_linting-0.workflow_linting.json
  .github/scenarios/0.toml_linting-1.workflow_linting.json
  .github/scenarios/1.toml_linting-0.workflow_linting.json
  .github/scenarios/1.toml_linting-1.workflow_linting.json
  .github/workflows/job-00-cookiecutter-configuration.yml
  .github/workflows/job-40-cookiecutter-ansible-lint.yml
  .github/workflows/job-40-cookiecutter-molecule-role.yml
  .github/workflows/job-80-poetry-commit_lint.yml
  .github/workflows/workflow-ansible-role-molecule.yml
  cicd-tools/boxes/0.1.0.tar.gz
  cicd-tools/boxes/0.1.0/ci/github/actions/action-05-generic-conditional_file_hash/action.yml
  cicd-tools/boxes/0.1.0/ci/github/actions/action-05-generic-platform_homefolder/action.yml
  cicd-tools/boxes/0.1.0/ci/github/actions/action-05-poetry-dependencies/action.yml
  cicd-tools/boxes/0.1.0/ci/github/actions/action-20-generic-cache/action.yml
  cicd-tools/boxes/0.1.0/ci/github/scripts/job-40-generic-ansible_role_name.sh
  cicd-tools/boxes/0.1.0/ci/github/scripts/step-determine-poetry-venv-location.sh
  cicd-tools/boxes/0.1.0/ci/github/scripts/step-initialize-cache.sh
  cicd-tools/boxes/0.1.0/libraries/tools.sh
  cicd-tools/boxes/0.1.0/pre-commit/ansible-lint.sh
  cookiecutter.json
  hooks/post_gen_project.sh
  pyproject.toml
  {{cookiecutter.project_slug}}/.cicd-tools/boxes/bootstrap/pre-commit/ansible-lint.sh
  {{cookiecutter.project_slug}}/.pre-commit-config.yaml
  {{cookiecutter.project_slug}}/ansible_role/.ansible-lint
  {{cookiecutter.project_slug}}/ansible_role/.yamllint
  {{cookiecutter.project_slug}}/ansible_role/README.md
  {{cookiecutter.project_slug}}/ansible_role/defaults/main.yml
  {{cookiecutter.project_slug}}/ansible_role/handlers/main.yml
  {{cookiecutter.project_slug}}/ansible_role/meta/main.yml
  {{cookiecutter.project_slug}}/ansible_role/molecule/default/converge.yml
  {{cookiecutter.project_slug}}/ansible_role/molecule/default/molecule.yml
  {{cookiecutter.project_slug}}/ansible_role/molecule/default/verify.yml
  {{cookiecutter.project_slug}}/ansible_role/requirements.yml
  {{cookiecutter.project_slug}}/ansible_role/tasks/main.yml
  {{cookiecutter.project_slug}}/ansible_role/vars/main.yml
  {{cookiecutter.project_slug}}/pyproject.toml
Due: shell-fmt, shell-lint, toml-lint, workflow-lint, workflow-header-lint

ci(GITHUB): add remote push workflows
  .github/workflows/job-60-cookiecutter-remote_push.yml
  cicd-tools/boxes/0.1.0.tar.gz
  cicd-tools/boxes/0.1.0/ci/github/scripts/job-60-prune-test-releases.sh
  cicd-tools/boxes/0.1.0/ci/github/scripts/job-60-test-push.sh
  cicd-tools/boxes/0.1.0/libraries/environment.sh
Due: shell-fmt, shell-lint, workflow-lint, workflow-header-lint

ci(GITHUB): workflow to read generic json files
  .github/workflows/job-00-generic-json_file.yml
  .github/workflows/workflow-ansible-role-molecule.yml
Due: workflow-lint, workflow-header-lint

ci(GITHUB): update to latest changelog api
  .github/workflows/job-99-poetry-create_release.yml
  cicd-tools/boxes/0.1.0.tar.gz
  cicd-tools/boxes/0.1.0/ci/github/scripts/job-99-generate-changelog.sh
Due: shell-fmt, shell-lint, workflow-lint, workflow-header-lint

feat(SCRIPTS): cc template installer
  .github/scenarios/0.toml_linting-0.workflow_linting.json
  .github/scenarios/0.toml_linting-1.workflow_linting.json
  .github/scenarios/1.toml_linting-0.workflow_linting.json
  .github/scenarios/1.toml_linting-1.workflow_linting.json
  .github/scripts/step-setup-environment.sh
  .github/workflows/job-00-generic-notification.yml
  .github/workflows/job-10-container-security.yml
  .github/workflows/job-10-generic-security.yml
  .github/workflows/job-30-cookiecutter-documentation.yml
  .github/workflows/job-40-cookiecutter-ansible-lint.yml
  .github/workflows/job-40-cookiecutter-molecule-role.yml
  .github/workflows/job-50-cookiecutter-precommit.yml
  .github/workflows/job-80-container-dockerfile_linter.yml
  .github/workflows/job-80-cookiecutter-precommit_linter.yml
  .github/workflows/job-80-poetry-commit_lint.yml
  .github/workflows/job-80-poetry-precommit_linter.yml
  .github/workflows/job-95-container-push.yml
  .github/workflows/job-99-poetry-create_release.yml
  cookiecutter.json
  scripts/install-cookiecutter.sh
Due: shell-fmt, shell-lint, workflow-lint, workflow-header-lint

ci(GITHUB): Make commitizen compatible w tomll v2
  .cicd-tools/boxes/bootstrap/commitizen/pre_bump.sh
  .github/workflows/job-50-cookiecutter-precommit_hooks.yml
  .github/workflows/job-50-poetry-commitizen_hooks.yml
  .github/workflows/workflow-cookiecutter-template.yml
  .github/workflows/workflow-meta_tests.yml
  cicd-tools/boxes/0.1.0.tar.gz
  cicd-tools/boxes/0.1.0/ci/github/scripts/job-60-test-push.sh
  cicd-tools/boxes/0.1.0/commitizen/pre_bump.sh
  scripts/bootstrap.sh
  {{cookiecutter.project_slug}}/.cicd-tools/boxes/bootstrap/commitizen/pre_bump.sh
Due: shell-fmt, shell-lint, workflow-lint, workflow-header-lint

ci(GITHUB): add workflow name to notifications
  .github/scripts/step-setup-environment.sh
  .github/workflows/job-00-generic-notification.yml
  .github/workflows/job-10-container-security.yml
  .github/workflows/job-10-generic-security.yml
  .github/workflows/job-30-cookiecutter-documentation.yml
  .github/workflows/job-40-cookiecutter-ansible-lint.yml
  .github/workflows/job-40-cookiecutter-molecule-role.yml
  .github/workflows/job-50-cookiecutter-precommit.yml
  .github/workflows/job-80-container-dockerfile_linter.yml
  .github/workflows/job-80-cookiecutter-precommit_linter.yml
  .github/workflows/job-80-poetry-commit_lint.yml
  .github/workflows/job-80-poetry-precommit_linter.yml
  .github/workflows/job-95-container-push.yml
  .github/workflows/job-99-poetry-create_release.yml
  .github/workflows/workflow-ansible-role-molecule.yml
  .github/workflows/workflow-container.yml
  .github/workflows/workflow-cookiecutter-template.yml
  .github/workflows/workflow-meta_tests.yml
Due: shell-fmt, shell-lint, workflow-lint, workflow-header-lint

feat(CHANGELOG): make the changelog configurable
  .cicd-tools/configuration/changelog.json
  cicd-tools/boxes/0.1.0.tar.gz
  cicd-tools/boxes/0.1.0/ci/github/scripts/job-99-generate-changelog.sh
  cicd-tools/boxes/0.1.0/libraries/container.sh
  cicd-tools/boxes/0.1.0/pre-commit/shell-fmt.sh
  cicd-tools/boxes/0.1.0/pre-commit/shell-lint.sh
  scripts/bootstrap.sh
  scripts/install-cookiecutter.sh
  {{cookiecutter.project_slug}}/.cicd-tools/configuration/changelog.json
  {{cookiecutter.project_slug}}/.cicd-tools/configuration/cicd-tools.json
Due: shell-fmt, shell-lint

ci(GITHUB): allow json formatted release content
  .github/workflows/job-99-poetry-create_release.yml
Due: workflow-lint, workflow-header-lint

ci(GITHUB): add non-cc workflows for ansible
  .github/actions/action-00-toolbox/action.yml
  .github/workflows/job-40-poetry-ansible-lint.yml
  .github/workflows/job-40-poetry-molecule-role.yml
  .github/workflows/workflow-ansible-role-molecule.yml
  cicd-tools/boxes/0.1.0.tar.gz
  cicd-tools/boxes/0.1.0/ci/github/actions/action-05-generic-docker_osx/action.yml
  {{cookiecutter.project_slug}}/ansible_role/molecule/default/molecule.yml
Due: workflow-lint, workflow-header-lint

ci(GITHUB): add non-cc workflow for markdown
  .github/workflows/job-30-generic-documentation.yml
  .github/workflows/workflow-ansible-role-molecule.yml
Due: workflow-lint, workflow-header-lint

ci(GITHUB): workflow for active molecule scenarios
  .github/workflows/job-00-generic-molecule_scenarios.yml
  .github/workflows/job-00-generic-notification.yml
  .github/workflows/workflow-meta_tests.yml
  cicd-tools/boxes/0.1.0.tar.gz
  cicd-tools/boxes/0.1.0/ci/generic/scripts/molecule-scenarios.sh
  cicd-tools/boxes/0.1.0/ci/github/actions/action-00-generic-notification/action.yml
  {{cookiecutter.project_slug}}/ansible_role/molecule/noci-test/molecule.yml
Due: shell-fmt, shell-lint, workflow-lint, workflow-header-lint

ci(GITHUB): workflow for secret validation
  .github/workflows/job-00-generic-secret_exists.yml
  .github/workflows/workflow-meta_tests.yml
Due: workflow-lint, workflow-header-lint

build(DOCKER): update container trufflehog version
  .cicd-tools/container/Dockerfile
  .cicd-tools/container/Dockerfile.sha256
  .github/workflows/workflow-container.yml
  scripts/container.sh
Due: shell-fmt, shell-lint, workflow-lint, workflow-header-lint

ci(GITHUB): explicitly pass secrets
  .github/workflows/job-00-generic-secret_exists.yml
  .github/workflows/job-10-container-security.yml
  .github/workflows/job-80-container-dockerfile_linter.yml
  .github/workflows/workflow-ansible-role-molecule.yml
  .github/workflows/workflow-container.yml
  .github/workflows/workflow-cookiecutter-template.yml
  .github/workflows/workflow-meta_tests.yml
  {{cookiecutter.project_slug}}/.github/workflows/workflow-push.yml
Due: workflow-lint, workflow-header-lint

Path conditions:
  shell-fmt: any of: ^.+\.(bash|sh)$, but not: ^{{cookiecutter.project_slug}}/.+$
  shell-lint: any of: ^.+\.(bash|sh)$, but not: ^{{cookiecutter.project_slug}}/.+$
  toml-lint: any of: ^.+\.toml$
  workflow-lint: any of: ^.github/workflows/.+\.(yaml|yml)$, but not: ^{{cookiecutter.project_slug}}/.+$
  workflow-header-lint: any of: ^.github/workflows/.+\.(yaml|yml)$, but not: ^{{cookiecutter.project_slug}}/.+$
