Repository cicd-tools-org/cicd-tools: changes, and which pre-commit hooks are due for each by the changed paths.
All: shell-fmt, shell-lint, toml-lint, workflow-lint, workflow-header-lint

.pre-commit-config.yaml:

---
default_install_hook_types:
  - pre-commit
  - commit-msg
repos:
  - repo: https://github.com/commitizen-tools/commitizen
    rev: v2.42.1
    hooks:
      - id: commitizen
        stages: [commit-msg]
  - repo: https://github.com/adrienverge/yamllint.git
    rev: v1.29.0
    hooks:
      - id: yamllint
        args: ["-c", "./{{cookiecutter.project_slug}}/.yamllint.yml"]
        exclude: "^{{cookiecutter.project_slug}}/.+$"
        stages: [commit]
  - repo: local
    hooks:
      - id: shell-fmt
        name: shell-fmt
        description: "Format the project's shell scripts."
        entry: ./{{cookiecutter.project_slug}}/.pre-commit/shell-fmt.sh
        exclude: "^{{cookiecutter.project_slug}}/.+$"
        files: "^.+\\.(bash|sh)$"
        language: system
        pass_filenames: true
        stages: [commit]
      - id: shell-lint
        name: shell-lint
        description: "Lint the project's shell scripts."
        entry: ./{{cookiecutter.project_slug}}/.pre-commit/shell-lint.sh
        exclude: "^{{cookiecutter.project_slug}}/.+$"
        files: "^.+\\.(bash|sh)$"
        language: system
        pass_filenames: true
        stages: [commit]
      - id: toml-lint
        name: toml-lint
        description: "Lint the project's TOML files."
        entry: ./{{cookiecutter.project_slug}}/.pre-commit/toml-lint.sh
        files: "^.+\\.toml$"
        language: system
        stages: [commit]
        pass_filenames: true
      - id: workflow-lint
        name: workflow-lint
        description: "Lint the project's GitHub workflow files."
        entry: ./{{cookiecutter.project_slug}}/.pre-commit/workflow-lint.sh
        exclude: "^{{cookiecutter.project_slug}}/.+$"
        files: "^.github/workflows/.+\\.(yaml|yml)$"
        language: system
        pass_filenames: false
        stages: [commit]
      - id: workflow-header-lint
        name: workflow-header-lint
        description: "Lint the headers of the project's GitHub workflow files."
        entry: ./{{cookiecutter.project_slug}}/.pre-commit/workflow-header-lint.sh
        exclude: "^{{cookiecutter.project_slug}}/.+$"
        files: "^.github/workflows/.+\\.(yaml|yml)$"
        language: system
        pass_filenames: true
        stages: [commit]

docs(README): update build badges
  README.md
Due: none

ci(GITHUB): add markdown linting and spelling
  .github/workflows/workflow-cookiecutter-template.yml
Due: workflow-lint, workflow-header-lint

feat(GITHUB): standardize workflow needs clauses
  .github/workflows/workflow-ansible-role-molecule.yml
  .github/workflows/workflow-compose-command.yml
  .github/workflows/workflow-container-multiarch.yml
  .github/workflows/workflow-cookiecutter-template.yml
  .github/workflows/workflow-mac_maker.yml
  .github/workflows/workflow-meta_tests.yml
  .github/workflows/workflow-npm-node_application.yml
  .github/workflows/workflow-poetry-command.yml
  {{cookiecutter.project_slug}}/.github/workflows/workflow-push.yml
Due: workflow-lint, workflow-header-lint

ci(GITHUB): ops genie workflow and action
  .github/workflows/job-00-generic-alert_opsgenie.yml
  .github/workflows/workflow-meta_tests.yml
  cicd-tools/boxes/0.1.0.tar.gz
  cicd-tools/boxes/0.1.0/ci/github/actions/action-00-generic-alert_opsgenie/action.yml
  cicd-tools/boxes/0.1.0/ci/notifications/scripts/opsgenie.sh
Due: shell-fmt, shell-lint, workflow-lint, workflow-header-lint

ci(GITHUB): pre-commit workflow verbosity, stage
  .github/workflows/job-80-poetry-precommit_commit_stage_hook.yml
Due: workflow-lint, workflow-header-lint

ci(GITHUB): pre-commit workflow env
  .github/workflows/job-80-poetry-precommit_commit_stage_hook.yml
Due: workflow-lint, workflow-header-lint

ci(GITHUB): poetry workflow env
  .github/workflows/job-40-poetry-run_cached_commands.yml
Due: workflow-lint, workflow-header-lint

ci(PRE-COMMIT): update to cicd-tools 0.5.0
  .github/scripts/job-50-test-precommit.sh
  .github/workflows/workflow-cookiecutter-template.yml
  .github/workflows/workflow-meta_tests.yml
  .pre-commit-config.yaml
  Makefile
  {{cookiecutter.project_slug}}/.github/scripts/job-50-test-precommit.sh
  {{cookiecutter.project_slug}}/.github/workflows/workflow-push.yml
  {{cookiecutter.project_slug}}/.pre-commit-config.yaml
Due: shell-fmt, shell-lint, workflow-lint, workflow-header-lint

ci(GITHUB): workflow for docker compose
  .github/workflows/job-40-compose-run_cached_commands.yml
  .github/workflows/workflow-compose-command.yml
  README.md
  cicd-tools/boxes/0.1.0.tar.gz
  cicd-tools/boxes/0.1.0/ci/github/scripts/job-40-compose-gha-caching.py
  cicd-tools/boxes/0.1.0/pre-commit/spelling-commit-message.sh
  {{cookiecutter.project_slug}}/compose/Dockerfile
  {{cookiecutter.project_slug}}/compose/docker-compose.yml
Due: shell-fmt, shell-lint, workflow-lint, workflow-header-lint

feat(CONTAINER): add hadolint binary
  .cicd-tools/container/amd64/Dockerfile
  .cicd-tools/container/amd64/Dockerfile.sha256
Due: none

docs(README): badges for npm & poetry workflows
  README.md
Due: none

ci(GITHUB): add arch to container workflow
  .cicd-tools/container/amd64/Dockerfile
  .cicd-tools/container/amd64/Dockerfile.sha256
  .github/workflows/workflow-container-amd64.yml
  README.md
  markdown/OVERVIEW.md
Due: workflow-lint, workflow-header-lint

ci(GITHUB): workflow to build & release binaries
  .github/workflows/job-99-generic-build_and_attach_to_release.yml
  .github/workflows/job-99-poetry-create_release.yml
  cicd-tools/boxes/0.1.0.tar.gz
  cicd-tools/boxes/0.1.0/ci/github/scripts/job-99-attach-to-release.js
  cicd-tools/boxes/0.1.0/ci/github/scripts/job-99-generate-release.js
Due: workflow-lint, workflow-header-lint

ci(GITHUB): artifacts aggregate build outputs
  .github/workflows/job-95-generic-build_artifact.yml
  .github/workflows/job-99-generic-attach_artifact_to_release.yml
Due: workflow-lint, workflow-header-lint

ci(GITHUB): support multiple container platforms
  .cicd-tools/container/Dockerfile
  .cicd-tools/container/amd64/Dockerfile
  .cicd-tools/container/amd64/Dockerfile.sha256
  .cicd-tools/container/arm64/Dockerfile.sha256
  .github/workflows/job-95-container-multiarch.yml
  .github/workflows/workflow-container-multiarch.yml
  README.md
  markdown/OVERVIEW.md
  scripts/container.sh
  scripts/containers.sh
Due: shell-fmt, shell-lint, workflow-lint, workflow-header-lint

feat(GITHUB): upgrade actions/checkout to v4
  .github/workflows/job-00-cookiecutter-read_configuration.yml
  .github/workflows/job-00-generic-identify_molecule_scenarios.yml
  .github/workflows/job-00-generic-identify_secret_exists.yml
  .github/workflows/job-00-generic-notification.yml
  .github/workflows/job-00-generic-read_json_file.yml
  .github/workflows/job-10-container-security_scan_container.yml
  .github/workflows/job-10-generic-security_scan_credentials.yml
  .github/workflows/job-30-cookiecutter-markdown_links.yml
  .github/workflows/job-30-generic-markdown_links.yml
  .github/workflows/job-40-compose-run_cached_commands.yml
  .github/workflows/job-40-cookiecutter-ansible_lint.yml
  .github/workflows/job-40-cookiecutter-molecule_command.yml
  .github/workflows/job-40-npm-run_cached_command.yml
  .github/workflows/job-40-poetry-ansible_lint.yml
  .github/workflows/job-40-poetry-molecule_command.yml
  .github/workflows/job-40-poetry-run_cached_commands.yml
  .github/workflows/job-50-cookiecutter-test_precommit_hooks.yml
  .github/workflows/job-50-poetry-test_basic_precommit_hooks.yml
  .github/workflows/job-50-poetry-test_commitizen_hooks.yml
  .github/workflows/job-60-cookiecutter-remote_push.yml
  .github/workflows/job-80-container-dockerfile_linter.yml
  .github/workflows/job-80-cookiecutter-precommit_commit_stage_hook.yml
  .github/workflows/job-80-poetry-precommit_commit_stage_hook.yml
  .github/workflows/job-80-poetry-rev_range_command.yml
  .github/workflows/job-95-container-flyio_deploy.yml
  .github/workflows/job-95-container-gcp_cloud_run_deploy.yml
  .github/workflows/job-95-container-multiarch.yml
  .github/workflows/job-95-container-push.yml
  .github/workflows/job-95-generic-build_artifact.yml
  .github/workflows/job-95-mac_maker-apply_profile.yml
  .github/workflows/job-95-poetry-galaxy_import_collection.yml
  .github/workflows/job-95-poetry-galaxy_import_role.yml
  .github/workflows/job-99-generic-attach_artifact_to_release.yml
  .github/workflows/job-99-poetry-create_release.yml
  .github/workflows/workflow-meta_tests.yml
Due: workflow-lint, workflow-header-lint

feat(GITHUB): upgrade actions/cache to v4
  .github/workflows/job-40-compose-run_cached_commands.yml
  .github/workflows/job-50-poetry-test_basic_precommit_hooks.yml
  .github/workflows/job-80-cookiecutter-precommit_commit_stage_hook.yml
  .github/workflows/job-80-poetry-precommit_commit_stage_hook.yml
  .github/workflows/job-95-mac_maker-apply_profile.yml
  cicd-tools/boxes/0.1.0.tar.gz
  cicd-tools/boxes/0.1.0/ci/github/actions/action-05-cookiecutter-render/action.yml
  cicd-tools/boxes/0.1.0/ci/github/actions/action-05-npm-dependencies/action.yml
  cicd-tools/boxes/0.1.0/ci/github/actions/action-05-poetry-dependencies/action.yml
  cicd-tools/boxes/0.1.0/ci/github/actions/action-20-generic-cache/action.yml
Due: workflow-lint, workflow-header-lint

feat(GITHUB): upgrade actions/setup-python to v5
  .github/workflows/job-30-cookiecutter-markdown_links.yml
  .github/workflows/job-40-cookiecutter-ansible_lint.yml
  .github/workflows/job-40-cookiecutter-molecule_command.yml
  .github/workflows/job-40-poetry-ansible_lint.yml
  .github/workflows/job-40-poetry-molecule_command.yml
  .github/workflows/job-40-poetry-run_cached_commands.yml
  .github/workflows/job-50-cookiecutter-test_precommit_hooks.yml
  .github/workflows/job-50-poetry-test_basic_precommit_hooks.yml
  .github/workflows/job-50-poetry-test_commitizen_hooks.yml
  .github/workflows/job-60-cookiecutter-remote_push.yml
  .github/workflows/job-80-cookiecutter-precommit_commit_stage_hook.yml
  .github/workflows/job-80-poetry-precommit_commit_stage_hook.yml
  .github/workflows/job-80-poetry-rev_range_command.yml
  .github/workflows/job-95-mac_maker-apply_profile.yml
  .github/workflows/job-95-poetry-galaxy_import_collection.yml
  .github/workflows/job-95-poetry-galaxy_import_role.yml
Due: workflow-lint, workflow-header-lint

feat(GITHUB): upgrade codeql-actions/upload-sarif to v3
  .github/workflows/job-10-container-security_scan_container.yml
Due: workflow-lint, workflow-header-lint

ci(PRE-COMMIT): avoid commitizen 3.16.0
  pyproject.toml
Due: toml-lint

feat(CONTAINER): add vale version 3
  .cicd-tools/container/Dockerfile
  .cicd-tools/container/amd64/Dockerfile.sha256
  .cicd-tools/container/arm64/Dockerfile.sha256
Due: none

ci(GITHUB): upgrade docker actions
  .github/workflows/job-10-container-security_scan_container.yml
  .github/workflows/job-95-container-multiarch.yml
  .github/workflows/job-95-container-push.yml
Due: workflow-lint, workflow-header-lint

ci(GITHUB): scan multiple container platforms
  .github/workflows/job-10-container-security_scan_container.yml
  .github/workflows/workflow-container-multiarch.yml
Due: workflow-lint, workflow-header-lint

feat(CONTAINER): add ca-certificates
  .cicd-tools/container/Dockerfile
Due: none

ci(GITHUB): add pre/post hook commands
  .github/workflows/job-80-poetry-precommit_commit_stage_hook.yml
Due: workflow-lint, workflow-header-lint

ci(PRE-COMMIT): update to latest, vale config
  .github/scripts/job-50-test-precommit.sh
  .github/workflows/workflow-cookiecutter-template.yml
  .github/workflows/workflow-meta_tests.yml
  .gitignore
  .pre-commit-config.yaml
  .vale.ini
  .vale/Vocab/cicd-tools/accept.txt
  README.md
  markdown/OVERVIEW.md
  markdown/project_types/COOKIECUTTER.md
  markdown/project_types/POETRY.md
  pyproject.toml
  scripts/install-cookiecutter.sh
  scripts/libraries/installer.sh
  {{cookiecutter.project_slug}}/.github/scripts/job-50-test-precommit.sh
  {{cookiecutter.project_slug}}/.github/workflows/workflow-push.yml
  {{cookiecutter.project_slug}}/.gitignore
  {{cookiecutter.project_slug}}/.pre-commit-config.yaml
  {{cookiecutter.project_slug}}/.vale.ini
  {{cookiecutter.project_slug}}/.vale/Vocab/{{cookiecutter.project_slug}}/accept.txt
Due: shell-fmt, shell-lint, toml-lint, workflow-lint, workflow-header-lint

ci(GITHUB): move project from master -> main
  .github/actions/action-00-toolbox/action.yml
  .github/scenarios/0.toml_linting-0.workflow_linting.json
  .github/scenarios/0.toml_linting-1.workflow_linting.json
  .github/scenarios/1.toml_linting-0.workflow_linting.json
  .github/scenarios/1.toml_linting-1.workflow_linting.json
  .github/scripts/step-setup-environment.sh
  .github/workflows/workflow-cookiecutter-template.yml
  README.md
  cicd-tools/boxes/0.1.0.tar.gz
  cicd-tools/boxes/0.1.0/ci/github/scripts/job-95-apply_profile.sh
  cookiecutter.json
  markdown/OVERVIEW.md
  {{cookiecutter.project_slug}}/.github/actions/action-00-toolbox/action.yml
  {{cookiecutter.project_slug}}/.github/scripts/step-setup-environment.sh
  {{cookiecutter.project_slug}}/.github/workflows/workflow-push.yml
Due: shell-fmt, shell-lint, workflow-lint, workflow-header-lint

fix(SCRIPTS): installer recursive copy
  scripts/libraries/installer.sh
Due: shell-fmt, shell-lint

feat(SCRIPTS): markdown link action config
  scripts/install-poetry.sh
  scripts/libraries/installer.sh
  {{cookiecutter.project_slug}}/.github/config/actions/gaurav-nelson-github-action-markdown-link-check.json
Due: shell-fmt, shell-lint

wip: considering rewrite
  .cicd-tools/boxes/bootstrap/pre-commit/lint_makefile/controller.py
  .cicd-tools/boxes/bootstrap/pre-commit/lint_makefile/rules.py
  .cicd-tools/boxes/bootstrap/pre-commit/lint_makefile/schema.yml
  Makefile
  cicd-tools/boxes/0.1.0/pre-commit/lint-makefile.sh
  cicd-tools/boxes/0.1.0/pre-commit/lint_makefile/__main__.py
  cicd-tools/boxes/0.1.0/pre-commit/lint_makefile/controller.py
  cicd-tools/boxes/0.1.0/pre-commit/lint_makefile/linter.py
  cicd-tools/boxes/0.1.0/pre-commit/lint_makefile/makefile.py
  cicd-tools/boxes/0.1.0/pre-commit/lint_makefile/rules.py
  cicd-tools/boxes/0.1.0/pre-commit/lint_makefile/schema.yml
  {{cookiecutter.project_slug}}/.cicd-tools/boxes/bootstrap/pre-commit/lint_makefile/controller.py
  {{cookiecutter.project_slug}}/.cicd-tools/boxes/bootstrap/pre-commit/lint_makefile/rules.py
  {{cookiecutter.project_slug}}/.cicd-tools/boxes/bootstrap/pre-commit/lint_makefile/schema.yml
Due: shell-fmt, shell-lint

wip: coverage
  Makefile
  cicd-tools/boxes/0.1.0/pre-commit/lint_makefile/linter.py
  cicd-tools/boxes/0.1.0/pre-commit/lint_makefile/makefile.py
  cicd-tools/boxes/0.1.0/pre-commit/lint_makefile/rules.py
  cicd-tools/boxes/0.1.0/pre-commit/lint_makefile/tests/schemas.py
  cicd-tools/boxes/0.1.0/pre-commit/lint_makefile/tests/test_linter.py
  cicd-tools/boxes/0.1.0/pre-commit/lint_makefile/tests/test_makefile.py
  cicd-tools/boxes/0.1.0/pre-commit/lint_makefile/tests/test_rules.py
  cicd-tools/boxes/0.1.0/pre-commit/off/test_linter.py
  cicd-tools/boxes/0.1.0/pre-commit/off/test_makefile.py
  pyproject.toml
Due: toml-lint
