Repository cicd-tools-org/cicd-tools: changes, and which pre-commit hooks are due for each by the changed paths.
All: shell-fmt, shell-lint, toml-lint, workflow-lint, workflow-header-lint

shell-fmt:
  name: shell-fmt
  description: Format the project's shell scripts.
  entry: ./{{cookiecutter.project_slug}}/.pre-commit/shell-fmt.sh
  language: system
  pass_filenames: true
  stages:
  - commit

shell-lint:
  name: shell-lint
  description: Lint the project's shell scripts.
  entry: ./{{cookiecutter.project_slug}}/.pre-commit/shell-lint.sh
  language: system
  pass_filenames: true
  stages:
  - commit

toml-lint:
  name: toml-lint
  description: Lint the project's TOML files.
  entry: ./{{cookiecutter.project_slug}}/.pre-commit/toml-lint.sh
  language: system
  stages:
  - commit
  pass_filenames: true

workflow-lint:
  name: workflow-lint
  description: Lint the project's GitHub workflow files.
  entry: ./{{cookiecutter.project_slug}}/.pre-commit/workflow-lint.sh
  language: system
  pass_filenames: false
  stages:
  - commit

workflow-header-lint:
  name: workflow-header-lint
  description: Lint the headers of the project's GitHub workflow files.
  entry: ./{{cookiecutter.project_slug}}/.pre-commit/workflow-header-lint.sh
  language: system
  pass_filenames: true
  stages:
  - commit

build(PRE-COMMIT): add makefile to expose tooling
  .vale/Vocab/cicd-tools/accept.txt
  Makefile
Due: none

feat(SCRIPTS): precommit only installer, vale init
  scripts/install-poetry.sh
  scripts/install-precommit.sh
  scripts/libraries/installer.sh
Due: shell-fmt, shell-lint

ci(GITHUB): workflow for docker compose
  .github/workflows/job-40-compose-run_cached_commands.yml
  .github/workflows/workflow-compose-command.yml
  README.md
  cicd-tools/boxes/0.1.0.tar.gz
  cicd-tools/boxes/0.1.0/ci/github/scripts/job-40-compose-gha-caching.py
  cicd-tools/boxes/0.1.0/pre-commit/spelling-commit-message.sh
  {{cookiecutter.project_slug}}/compose/Dockerfile
  {{cookiecutter.project_slug}}/compose/docker-compose.yml
Due: shell-fmt, shell-lint, workflow-lint, workflow-header-lint

ci(GITHUB): support multiple container platforms
  .cicd-tools/container/Dockerfile
  .cicd-tools/container/amd64/Dockerfile
  .cicd-tools/container/amd64/Dockerfile.sha256
  .cicd-tools/container/arm64/Dockerfile.sha256
  .github/workflows/job-95-container-multiarch.yml
  .github/workflows/workflow-container-multiarch.yml
  README.md
  markdown/OVERVIEW.md
  scripts/container.sh
  scripts/containers.sh
Due: shell-fmt, shell-lint, workflow-lint, workflow-header-lint

ci(GITHUB): add arch to container workflow
  .cicd-tools/container/amd64/Dockerfile
  .cicd-tools/container/amd64/Dockerfile.sha256
  .github/workflows/workflow-container-amd64.yml
  README.md
  markdown/OVERVIEW.md
Due: workflow-lint, workflow-header-lint

ci(GITHUB): workflow to build & release binaries
  .github/workflows/job-99-generic-build_and_attach_to_release.yml
  .github/workflows/job-99-poetry-create_release.yml
  cicd-tools/boxes/0.1.0.tar.gz
  cicd-tools/boxes/0.1.0/ci/github/scripts/job-99-attach-to-release.js
  cicd-tools/boxes/0.1.0/ci/github/scripts/job-99-generate-release.js
Due: workflow-lint, workflow-header-lint

feat(CONTAINER): add hadolint binary
  .cicd-tools/container/amd64/Dockerfile
  .cicd-tools/container/amd64/Dockerfile.sha256
Due: none

docs(README): badges for npm & poetry workflows
  README.md
Due: none

ci(GITHUB): artifacts aggregate build outputs
  .github/workflows/job-95-generic-build_artifact.yml
  .github/workflows/job-99-generic-attach_artifact_to_release.yml
Due: workflow-lint, workflow-header-lint

feat(GITHUB): upgrade actions/checkout to v4
  .github/workflows/job-00-cookiecutter-read_configuration.yml
  .github/workflows/job-00-generic-identify_molecule_scenarios.yml
  .github/workflows/job-00-generic-identify_secret_exists.yml
  .github/workflows/job-00-generic-notification.yml
  .github/workflows/job-00-generic-read_json_file.yml
  .github/workflows/job-10-container-security_scan_container.yml
  .github/workflows/job-10-generic-security_scan_credentials.yml
  .github/workflows/job-30-cookiecutter-markdown_links.yml
  .github/workflows/job-30-generic-markdown_links.yml
  .github/workflows/job-40-compose-run_cached_commands.yml
  .github/workflows/job-40-cookiecutter-ansible_lint.yml
  .github/workflows/job-40-cookiecutter-molecule_command.yml
  .github/workflows/job-40-npm-run_cached_command.yml
  .github/workflows/job-40-poetry-ansible_lint.yml
  .github/workflows/job-40-poetry-molecule_command.yml
  .github/workflows/job-40-poetry-run_cached_commands.yml
  .github/workflows/job-50-cookiecutter-test_precommit_hooks.yml
  .github/workflows/job-50-poetry-test_basic_precommit_hooks.yml
  .github/workflows/job-50-poetry-test_commitizen_hooks.yml
  .github/workflows/job-60-cookiecutter-remote_push.yml
  .github/workflows/job-80-container-dockerfile_linter.yml
  .github/workflows/job-80-cookiecutter-precommit_commit_stage_hook.yml
  .github/workflows/job-80-poetry-precommit_commit_stage_hook.yml
  .github/workflows/job-80-poetry-rev_range_command.yml
  .github/workflows/job-95-container-flyio_deploy.yml
  .github/workflows/job-95-container-gcp_cloud_run_deploy.yml
  .github/workflows/job-95-container-multiarch.yml
  .github/workflows/job-95-container-push.yml
  .github/workflows/job-95-generic-build_artifact.yml
  .github/workflows/job-95-mac_maker-apply_profile.yml
  .github/workflows/job-95-poetry-galaxy_import_collection.yml
  .github/workflows/job-95-poetry-galaxy_import_role.yml
  .github/workflows/job-99-generic-attach_artifact_to_release.yml
  .github/workflows/job-99-poetry-create_release.yml
  .github/workflows/workflow-meta_tests.yml
Due: workflow-lint, workflow-header-lint

feat(GITHUB): upgrade actions/cache to v4
  .github/workflows/job-40-compose-run_cached_commands.yml
  .github/workflows/job-50-poetry-test_basic_precommit_hooks.yml
  .github/workflows/job-80-cookiecutter-precommit_commit_stage_hook.yml
  .github/workflows/job-80-poetry-precommit_commit_stage_hook.yml
  .github/workflows/job-95-mac_maker-apply_profile.yml
  cicd-tools/boxes/0.1.0.tar.gz
  cicd-tools/boxes/0.1.0/ci/github/actions/action-05-cookiecutter-render/action.yml
  cicd-tools/boxes/0.1.0/ci/github/actions/action-05-npm-dependencies/action.yml
  cicd-tools/boxes/0.1.0/ci/github/actions/action-05-poetry-dependencies/action.yml
  cicd-tools/boxes/0.1.0/ci/github/actions/action-20-generic-cache/action.yml
Due: workflow-lint, workflow-header-lint

feat(GITHUB): upgrade actions/setup-python to v5
  .github/workflows/job-30-cookiecutter-markdown_links.yml
  .github/workflows/job-40-cookiecutter-ansible_lint.yml
  .github/workflows/job-40-cookiecutter-molecule_command.yml
  .github/workflows/job-40-poetry-ansible_lint.yml
  .github/workflows/job-40-poetry-molecule_command.yml
  .github/workflows/job-40-poetry-run_cached_commands.yml
  .github/workflows/job-50-cookiecutter-test_precommit_hooks.yml
  .github/workflows/job-50-poetry-test_basic_precommit_hooks.yml
  .github/workflows/job-50-poetry-test_commitizen_hooks.yml
  .github/workflows/job-60-cookiecutter-remote_push.yml
  .github/workflows/job-80-cookiecutter-precommit_commit_stage_hook.yml
  .github/workflows/job-80-poetry-precommit_commit_stage_hook.yml
  .github/workflows/job-80-poetry-rev_range_command.yml
  .github/workflows/job-95-mac_maker-apply_profile.yml
  .github/workflows/job-95-poetry-galaxy_import_collection.yml
  .github/workflows/job-95-poetry-galaxy_import_role.yml
Due: workflow-lint, workflow-header-lint

feat(GITHUB): upgrade codeql-actions/upload-sarif to v3
  .github/workflows/job-10-container-security_scan_container.yml
Due: workflow-lint, workflow-header-lint

ci(PRE-COMMIT): avoid commitizen 3.16.0
  pyproject.toml
Due: toml-lint

feat(CONTAINER): add ca-certificates
  .cicd-tools/container/Dockerfile
Due: none

feat(CONTAINER): add vale version 3
  .cicd-tools/container/Dockerfile
  .cicd-tools/container/amd64/Dockerfile.sha256
  .cicd-tools/container/arm64/Dockerfile.sha256
Due: none

ci(GITHUB): scan multiple container platforms
  .github/workflows/job-10-container-security_scan_container.yml
  .github/workflows/workflow-container-multiarch.yml
Due: workflow-lint, workflow-header-lint

ci(GITHUB): upgrade docker actions
  .github/workflows/job-10-container-security_scan_container.yml
  .github/workflows/job-95-container-multiarch.yml
  .github/workflows/job-95-container-push.yml
Due: workflow-lint, workflow-header-lint

ci(GITHUB): add pre/post hook commands
  .github/workflows/job-80-poetry-precommit_commit_stage_hook.yml
Due: workflow-lint, workflow-header-lint

feat(SCRIPTS): poetry installer
  cicd-tools/boxes/0.1.0.tar.gz
  cicd-tools/boxes/0.1.0/libraries/environment.sh
  pyproject.toml
  scripts/bootstrap.sh
  scripts/install-poetry.sh
  scripts/libraries/installer.sh
  {{cookiecutter.project_slug}}/.github/config/schemas/workflows/workflow-push.json
  {{cookiecutter.project_slug}}/.github/config/workflows/workflow-push.json
  {{cookiecutter.project_slug}}/.github/scripts/job-50-test-precommit.sh
  {{cookiecutter.project_slug}}/.github/scripts/step-setup-environment.sh
  {{cookiecutter.project_slug}}/.github/workflows/workflow-push.yml
  {{cookiecutter.project_slug}}/.pre-commit-config.yaml
Due: shell-fmt, shell-lint, toml-lint

build(SCRIPTS): standardize project name
  .cicd-tools/bin/manifest.sh
  .cicd-tools/bin/toolbox.sh
  .cicd-tools/bin/verify.sh
  .cicd-tools/container/Dockerfile
  .github/actions/action-00-toolbox/action.yml
  cicd-tools/boxes/0.1.0.tar.gz
  cicd-tools/boxes/0.1.0/libraries/colours.sh
  cicd-tools/boxes/0.1.0/libraries/tools.sh
  cicd-tools/boxes/0.1.0/schemas/manifest.json
  scripts/bootstrap.sh
  scripts/container.sh
  scripts/libraries/installer.sh
  scripts/manifest.sh
Due: shell-fmt, shell-lint

ci(PRE-COMMIT): add commit message spellcheck
  .pre-commit-config.yaml
  {{cookiecutter.project_slug}}/.pre-commit-config.yaml
Due: none

ci(GITHUB): refactor commit cmds, add spellcheck
  .cicd-tools/boxes/bootstrap/pre-commit/commit-spelling.sh
  .github/workflows/job-80-poetry-rev_range_command.yml
  .github/workflows/workflow-cookiecutter-template.yml
  .github/workflows/workflow-meta_tests.yml
  .vale.ini
  .vale/Vocab/cicd-tools/accept.txt
  cicd-tools/boxes/0.1.0.tar.gz
  cicd-tools/boxes/0.1.0/pre-commit/commit-spelling.sh
  {{cookiecutter.project_slug}}/.cicd-tools/boxes/bootstrap/pre-commit/commit-spelling.sh
  {{cookiecutter.project_slug}}/.github/config/schemas/workflows/workflow-push.json
  {{cookiecutter.project_slug}}/.github/config/workflows/workflow-push.json
  {{cookiecutter.project_slug}}/.github/workflows/workflow-push.yml
  {{cookiecutter.project_slug}}/.vale.ini
Due: shell-fmt, shell-lint, workflow-lint, workflow-header-lint

ci(GITHUB): standardize environment setup
  .github/workflows/job-00-generic-notification.yml
  .github/workflows/job-10-container-security_scan_container.yml
  .github/workflows/job-10-generic-security_scan_credentials.yml
  .github/workflows/job-30-cookiecutter-markdown_links.yml
  .github/workflows/job-30-generic-markdown_links.yml
  .github/workflows/job-40-cookiecutter-ansible_role_lint.yml
  .github/workflows/job-40-cookiecutter-molecule_role_command.yml
  .github/workflows/job-50-cookiecutter-test_precommit_hooks.yml
  .github/workflows/job-50-poetry-test_commitizen_hooks.yml
  .github/workflows/job-60-cookiecutter-remote_push.yml
  .github/workflows/job-80-cookiecutter-precommit_linter.yml
  .github/workflows/job-80-poetry-commit_lint.yml
  .github/workflows/job-80-poetry-precommit_linter.yml
  .github/workflows/job-95-container-push.yml
  .github/workflows/job-95-mac_maker-apply_profile.yml
  .github/workflows/job-99-poetry-create_release.yml
  .github/workflows/workflow-meta_tests.yml
Due: workflow-lint, workflow-header-lint

ci(GITHUB): refactor toolbox action
  {{cookiecutter.project_slug}}/.github/actions/action-00-toolbox/action.yml
Due: none

ci(GITHUB): parameterize hadolint config file
  .github/workflows/job-80-container-dockerfile_linter.yml
  .vale/Vocab/cicd-tools/accept.txt
Due: workflow-lint, workflow-header-lint

ci(GITHUB): document job scripting requirements
  .github/workflows/job-00-generic-notification.yml
  .github/workflows/job-10-container-security_scan_container.yml
  .github/workflows/job-10-generic-security_scan_credentials.yml
  .github/workflows/job-30-cookiecutter-markdown_links.yml
  .github/workflows/job-30-generic-markdown_links.yml
  .github/workflows/job-40-cookiecutter-ansible_role_lint.yml
  .github/workflows/job-40-cookiecutter-molecule_role_command.yml
  .github/workflows/job-40-poetry-ansible_role_lint.yml
  .github/workflows/job-40-poetry-molecule_role_command.yml
  .github/workflows/job-50-cookiecutter-test_precommit_hooks.yml
  .github/workflows/job-50-poetry-test_basic_precommit_hooks.yml
  .github/workflows/job-50-poetry-test_commitizen_hooks.yml
  .github/workflows/job-60-cookiecutter-remote_push.yml
  .github/workflows/job-80-container-dockerfile_linter.yml
  .github/workflows/job-80-cookiecutter-precommit_linter.yml
  .github/workflows/job-80-poetry-commit_lint.yml
  .github/workflows/job-80-poetry-precommit_linter.yml
  .github/workflows/job-95-container-push.yml
  .github/workflows/job-95-mac_maker-apply_profile.yml
  .github/workflows/job-95-poetry-galaxy_import_role.yml
  .github/workflows/job-99-poetry-create_release.yml
Due: workflow-lint, workflow-header-lint

feat(SCRIPTS): support multiple manifests
  scripts/manifest.sh
Due: shell-fmt, shell-lint

ci(GITHUB): standardize notifications
  .github/workflows/job-10-container-security_scan_container.yml
  .github/workflows/job-10-generic-security_scan_credentials.yml
  .github/workflows/job-30-cookiecutter-markdown_links.yml
  .github/workflows/job-30-generic-markdown_links.yml
  .github/workflows/job-40-cookiecutter-ansible_role_lint.yml
  .github/workflows/job-40-cookiecutter-molecule_role_command.yml
  .github/workflows/job-40-poetry-ansible_role_lint.yml
  .github/workflows/job-40-poetry-molecule_role_command.yml
  .github/workflows/job-50-cookiecutter-test_precommit_hooks.yml
  .github/workflows/job-50-poetry-test_basic_precommit_hooks.yml
  .github/workflows/job-50-poetry-test_commitizen_hooks.yml
  .github/workflows/job-60-cookiecutter-remote_push.yml
  .github/workflows/job-80-container-dockerfile_linter.yml
  .github/workflows/job-95-container-push.yml
  .github/workflows/job-95-poetry-galaxy_import_role.yml
  .github/workflows/job-99-poetry-create_release.yml
  .github/workflows/workflow-ansible-role-molecule.yml
  .github/workflows/workflow-container.yml
  .github/workflows/workflow-cookiecutter-template.yml
  .github/workflows/workflow-mac_maker.yml
  .github/workflows/workflow-meta_tests.yml
  {{cookiecutter.project_slug}}/.github/workflows/workflow-push.yml
Due: workflow-lint, workflow-header-lint

docs(GITHUB): update docs/licensing
  .vale/Vocab/cicd-tools/accept.txt
  LICENSE
  README.md
  markdown/OVERVIEW.md
  markdown/project_types/COOKIECUTTER.md
  markdown/project_types/POETRY.md
  {{cookiecutter.project_slug}}/.markdownlint.yml
Due: none

ci(GITHUB): workflow to run npm commands
  .github/workflows/job-40-npm-run_cached_command.yml
  .github/workflows/workflow-npm-node_application.yml
  .gitignore
  .vale/Vocab/cicd-tools/accept.txt
  cicd-tools/boxes/0.1.0.tar.gz
  cicd-tools/boxes/0.1.0/ci/github/actions/action-05-npm-dependencies/action.yml
  package-lock.json
  package.json
Due: workflow-lint, workflow-header-lint

ci(GITHUB): refactor/standardize pre-commit jobs
  .github/workflows/job-80-cookiecutter-precommit_commit_stage_hook.yml
  .github/workflows/job-80-poetry-precommit_commit_stage_hook.yml
  .github/workflows/workflow-cookiecutter-template.yml
  .github/workflows/workflow-meta_tests.yml
  {{cookiecutter.project_slug}}/.github/workflows/workflow-push.yml
Due: workflow-lint, workflow-header-lint

ci(GITHUB): standardize scripts
  .github/workflows/job-40-cookiecutter-ansible_role_lint.yml
  .github/workflows/job-40-cookiecutter-molecule_role_command.yml
  .github/workflows/job-40-poetry-molecule_role_command.yml
  .github/workflows/job-95-mac_maker-apply_profile.yml
  .github/workflows/job-95-poetry-galaxy_import_role.yml
  cicd-tools/boxes/0.1.0.tar.gz
  cicd-tools/boxes/0.1.0/ci/github/scripts/job-40-ansible_role_name.sh
  cicd-tools/boxes/0.1.0/ci/github/scripts/job-95-apply_profile.sh
Due: shell-fmt, shell-lint, workflow-lint, workflow-header-lint

ci(GITHUB): add validation to release workflow
  .github/workflows/job-99-poetry-create_release.yml
  cicd-tools/boxes/0.1.0.tar.gz
  cicd-tools/boxes/0.1.0/ci/github/scripts/job-99-release-collection.sh
Due: shell-fmt, shell-lint, workflow-lint, workflow-header-lint

ci(GITHUB): add test for pre-commit spelling hook
  .github/scripts/job-50-test-precommit.sh
  .github/workflows/job-50-cookiecutter-test_precommit_hooks.yml
  .github/workflows/job-50-poetry-test_basic_precommit_hooks.yml
  .github/workflows/workflow-cookiecutter-template.yml
  {{cookiecutter.project_slug}}/.github/scripts/job-50-test-precommit.sh
Due: shell-fmt, shell-lint, workflow-lint, workflow-header-lint

feat(ANSIBLE): parameterize galaxy requirements
  .github/workflows/job-40-cookiecutter-ansible_role_lint.yml
  .github/workflows/job-40-cookiecutter-molecule_role_command.yml
  .github/workflows/job-40-poetry-ansible_role_lint.yml
  .github/workflows/job-40-poetry-molecule_role_command.yml
  .github/workflows/workflow-ansible-role-molecule.yml
Due: workflow-lint, workflow-header-lint

ci(PRE-COMMIT): streamline ansible-lint
  .github/workflows/job-40-cookiecutter-ansible_role_lint.yml
  .github/workflows/job-40-poetry-ansible_role_lint.yml
  cicd-tools/boxes/0.1.0.tar.gz
  cicd-tools/boxes/0.1.0/pre-commit/ansible-lint.sh
  {{cookiecutter.project_slug}}/.pre-commit-config.yaml
  {{cookiecutter.project_slug}}/ansible_role/requirements.yml
  {{cookiecutter.project_slug}}/ansible_role/tasks/main.yml
Due: shell-fmt, shell-lint, workflow-lint, workflow-header-lint

ci(GITHUB): workflow to publish galaxy collections
  .github/workflows/job-95-poetry-galaxy_import_collection.yml
Due: workflow-lint, workflow-header-lint

ci(CHANGELOG): pin version, remove tag
  .github/workflows/job-99-poetry-create_release.yml
  cicd-tools/boxes/0.1.0.tar.gz
  cicd-tools/boxes/0.1.0/ci/github/scripts/job-99-generate-changelog.sh
Due: shell-fmt, shell-lint, workflow-lint, workflow-header-lint

ci(PRE-COMMIT): add trufflehog
  .github/scripts/job-50-test-precommit.sh
  .github/workflows/job-50-cookiecutter-test_precommit_hooks.yml
  .github/workflows/workflow-cookiecutter-template.yml
  .github/workflows/workflow-meta_tests.yml
  .pre-commit-config.yaml
  {{cookiecutter.project_slug}}/.github/scripts/job-50-test-precommit.sh
  {{cookiecutter.project_slug}}/.pre-commit-config.yaml
Due: shell-fmt, shell-lint, workflow-lint, workflow-header-lint

Path conditions:
  shell-fmt: any of: ^.+\.(bash|sh)$, but not: ^{{cookiecutter.project_slug}}/.+$
  shell-lint: any of: ^.+\.(bash|sh)$, but not: ^{{cookiecutter.project_slug}}/.+$
  toml-lint: any of: ^.+\.toml$
  workflow-lint: any of: ^.github/workflows/.+\.(yaml|yml)$, but not: ^{{cookiecutter.project_slug}}/.+$
  workflow-header-lint: any of: ^.github/workflows/.+\.(yaml|yml)$, but not: ^{{cookiecutter.project_slug}}/.+$
