Repository cicd-tools-org/cicd-tools: changes, and which pre-commit hooks are due for each by the changed paths.
All: shell-fmt, shell-lint, toml-lint, workflow-lint, workflow-header-lint

.pre-commit-config.yaml:

---
default_install_hook_types:
  - pre-commit
  - commit-msg
repos:
  - repo: https://github.com/commitizen-tools/commitizen
    rev: v2.42.1
    hooks:
      - id: commitizen
        stages: [commit-msg]
  - repo: https://github.com/adrienverge/yamllint.git
    rev: v1.29.0
    hooks:
      - id: yamllint
        args: ["-c", "./{{cookiecutter.project_slug}}/.yamllint.yml"]
        exclude: "^{{cookiecutter.project_slug}}/.+$"
        stages: [commit]
  - repo: local
    hooks:
      - id: shell-fmt
        name: shell-fmt
        description: "Format the project's shell scripts."
        entry: ./{{cookiecutter.project_slug}}/.pre-commit/shell-fmt.sh
        exclude: "^{{cookiecutter.project_slug}}/.+$"
        files: "^.+\\.(bash|sh)$"
        language: system
        pass_filenames: true
        stages: [commit]
      - id: shell-lint
        name: shell-lint
        description: "Lint the project's shell scripts."
        entry: ./{{cookiecutter.project_slug}}/.pre-commit/shell-lint.sh
        exclude: "^{{cookiecutter.project_slug}}/.+$"
        files: "^.+\\.(bash|sh)$"
        language: system
        pass_filenames: true
        stages: [commit]
      - id: toml-lint
        name: toml-lint
        description: "Lint the project's TOML files."
        entry: ./{{cookiecutter.project_slug}}/.pre-commit/toml-lint.sh
        files: "^.+\\.toml$"
        language: system
        stages: [commit]
        pass_filenames: true
      - id: workflow-lint
        name: workflow-lint
        description: "Lint the project's GitHub workflow files."
        entry: ./{{cookiecutter.project_slug}}/.pre-commit/workflow-lint.sh
        exclude: "^{{cookiecutter.project_slug}}/.+$"
        files: "^.github/workflows/.+\\.(yaml|yml)$"
        language: system
        pass_filenames: false
        stages: [commit]
      - id: workflow-header-lint
        name: workflow-header-lint
        description: "Lint the headers of the project's GitHub workflow files."
        entry: ./{{cookiecutter.project_slug}}/.pre-commit/workflow-header-lint.sh
        exclude: "^{{cookiecutter.project_slug}}/.+$"
        files: "^.github/workflows/.+\\.(yaml|yml)$"
        language: system
        pass_filenames: true
        stages: [commit]

ci(PRE-COMMIT): centralized hooks
  .github/workflows/job-50-poetry-commitizen_hooks.yml
  .github/workflows/workflow-cookiecutter-template.yml
  .github/workflows/workflow-meta_tests.yml
  .pre-commit-config.yaml
  .pre-commit-hooks.yaml
  .vale.ini
  .vale/Vocab/cicd-tools/accept.txt
  .vale/Vocab/cicd-tools/reject.txt
  {{cookiecutter.project_slug}}/.pre-commit-config.yaml
  {{cookiecutter.project_slug}}/.vale.ini
  {{cookiecutter.project_slug}}/.vale/Vocab/{{cookiecutter.project_slug}}/accept.txt
  {{cookiecutter.project_slug}}/.vale/Vocab/{{cookiecutter.project_slug}}/reject.txt
Due: workflow-lint, workflow-header-lint

build(GIT): migrate to cicd-tools-org
  .cicd-tools/container/Dockerfile
  .github/actions/action-00-toolbox/action.yml
  .github/scenarios/0.toml_linting-0.workflow_linting.json
  .github/scenarios/0.toml_linting-1.workflow_linting.json
  .github/scenarios/1.toml_linting-0.workflow_linting.json
  .github/scenarios/1.toml_linting-1.workflow_linting.json
  .github/scripts/step-setup-environment.sh
  .github/workflows/job-95-mac_maker-apply_profile.yml
  .github/workflows/workflow-ansible-role-molecule.yml
  .github/workflows/workflow-meta_tests.yml
  .pre-commit-config.yaml
  .pre-commit-hooks.yaml
  cookiecutter.json
  hooks/post_gen_project.sh
  scripts/container.sh
  scripts/manifest.sh
  {{cookiecutter.project_slug}}/.github/workflows/workflow-push.yml
  {{cookiecutter.project_slug}}/.pre-commit-config.yaml
  {{cookiecutter.project_slug}}/ansible_role/README.md
Due: shell-fmt, shell-lint, workflow-lint, workflow-header-lint

ci(GITHUB): standardize workflow names
  .github/workflows/job-00-cookiecutter-read_configuration.yml
  .github/workflows/job-00-generic-identify_molecule_scenarios.yml
  .github/workflows/job-00-generic-identify_secret_exists.yml
  .github/workflows/job-00-generic-read_json_file.yml
  .github/workflows/job-10-container-security_scan_container.yml
  .github/workflows/job-10-generic-security_scan_credentials.yml
  .github/workflows/job-30-cookiecutter-markdown_links.yml
  .github/workflows/job-30-generic-markdown_links.yml
  .github/workflows/job-40-cookiecutter-ansible_role_lint.yml
  .github/workflows/job-40-cookiecutter-molecule_role_command.yml
  .github/workflows/job-40-poetry-ansible_role_lint.yml
  .github/workflows/job-40-poetry-molecule_role_command.yml
  .github/workflows/job-50-cookiecutter-test_precommit_hooks.yml
  .github/workflows/job-50-poetry-test_basic_precommit_hooks.yml
  .github/workflows/job-50-poetry-test_commitizen_hooks.yml
  .github/workflows/job-95-poetry-galaxy_import_role.yml
  .github/workflows/workflow-ansible-role-molecule.yml
  .github/workflows/workflow-container.yml
  .github/workflows/workflow-cookiecutter-template.yml
  .github/workflows/workflow-mac_maker.yml
  .github/workflows/workflow-meta_tests.yml
Due: workflow-lint, workflow-header-lint

feat(SCRIPTS): poetry installer
  cicd-tools/boxes/0.1.0.tar.gz
  cicd-tools/boxes/0.1.0/libraries/environment.sh
  pyproject.toml
  scripts/bootstrap.sh
  scripts/install-poetry.sh
  scripts/libraries/installer.sh
  {{cookiecutter.project_slug}}/.github/config/schemas/workflows/workflow-push.json
  {{cookiecutter.project_slug}}/.github/config/workflows/workflow-push.json
  {{cookiecutter.project_slug}}/.github/scripts/job-50-test-precommit.sh
  {{cookiecutter.project_slug}}/.github/scripts/step-setup-environment.sh
  {{cookiecutter.project_slug}}/.github/workflows/workflow-push.yml
  {{cookiecutter.project_slug}}/.pre-commit-config.yaml
Due: shell-fmt, shell-lint, toml-lint

ci(GITHUB): parameterize hadolint config file
  .github/workflows/job-80-container-dockerfile_linter.yml
  .vale/Vocab/cicd-tools/accept.txt
Due: workflow-lint, workflow-header-lint

ci(GITHUB): refactor toolbox action
  {{cookiecutter.project_slug}}/.github/actions/action-00-toolbox/action.yml
Due: none

ci(PRE-COMMIT): add commit message spellcheck
  .pre-commit-config.yaml
  {{cookiecutter.project_slug}}/.pre-commit-config.yaml
Due: none

ci(GITHUB): standardize environment setup
  .github/workflows/job-00-generic-notification.yml
  .github/workflows/job-10-container-security_scan_container.yml
  .github/workflows/job-10-generic-security_scan_credentials.yml
  .github/workflows/job-30-cookiecutter-markdown_links.yml
  .github/workflows/job-30-generic-markdown_links.yml
  .github/workflows/job-40-cookiecutter-ansible_role_lint.yml
  .github/workflows/job-40-cookiecutter-molecule_role_command.yml
  .github/workflows/job-50-cookiecutter-test_precommit_hooks.yml
  .github/workflows/job-50-poetry-test_commitizen_hooks.yml
  .github/workflows/job-60-cookiecutter-remote_push.yml
  .github/workflows/job-80-cookiecutter-precommit_linter.yml
  .github/workflows/job-80-poetry-commit_lint.yml
  .github/workflows/job-80-poetry-precommit_linter.yml
  .github/workflows/job-95-container-push.yml
  .github/workflows/job-95-mac_maker-apply_profile.yml
  .github/workflows/job-99-poetry-create_release.yml
  .github/workflows/workflow-meta_tests.yml
Due: workflow-lint, workflow-header-lint

build(SCRIPTS): standardize project name
  .cicd-tools/bin/manifest.sh
  .cicd-tools/bin/toolbox.sh
  .cicd-tools/bin/verify.sh
  .cicd-tools/container/Dockerfile
  .github/actions/action-00-toolbox/action.yml
  cicd-tools/boxes/0.1.0.tar.gz
  cicd-tools/boxes/0.1.0/libraries/colours.sh
  cicd-tools/boxes/0.1.0/libraries/tools.sh
  cicd-tools/boxes/0.1.0/schemas/manifest.json
  scripts/bootstrap.sh
  scripts/container.sh
  scripts/libraries/installer.sh
  scripts/manifest.sh
Due: shell-fmt, shell-lint

ci(GITHUB): standardize scripts
  .github/workflows/job-40-cookiecutter-ansible_role_lint.yml
  .github/workflows/job-40-cookiecutter-molecule_role_command.yml
  .github/workflows/job-40-poetry-molecule_role_command.yml
  .github/workflows/job-95-mac_maker-apply_profile.yml
  .github/workflows/job-95-poetry-galaxy_import_role.yml
  cicd-tools/boxes/0.1.0.tar.gz
  cicd-tools/boxes/0.1.0/ci/github/scripts/job-40-ansible_role_name.sh
  cicd-tools/boxes/0.1.0/ci/github/scripts/job-95-apply_profile.sh
Due: shell-fmt, shell-lint, workflow-lint, workflow-header-lint

docs(GITHUB): update docs/licensing
  .vale/Vocab/cicd-tools/accept.txt
  LICENSE
  README.md
  markdown/OVERVIEW.md
  markdown/project_types/COOKIECUTTER.md
  markdown/project_types/POETRY.md
  {{cookiecutter.project_slug}}/.markdownlint.yml
Due: none

ci(GITHUB): standardize notifications
  .github/workflows/job-10-container-security_scan_container.yml
  .github/workflows/job-10-generic-security_scan_credentials.yml
  .github/workflows/job-30-cookiecutter-markdown_links.yml
  .github/workflows/job-30-generic-markdown_links.yml
  .github/workflows/job-40-cookiecutter-ansible_role_lint.yml
  .github/workflows/job-40-cookiecutter-molecule_role_command.yml
  .github/workflows/job-40-poetry-ansible_role_lint.yml
  .github/workflows/job-40-poetry-molecule_role_command.yml
  .github/workflows/job-50-cookiecutter-test_precommit_hooks.yml
  .github/workflows/job-50-poetry-test_basic_precommit_hooks.yml
  .github/workflows/job-50-poetry-test_commitizen_hooks.yml
  .github/workflows/job-60-cookiecutter-remote_push.yml
  .github/workflows/job-80-container-dockerfile_linter.yml
  .github/workflows/job-95-container-push.yml
  .github/workflows/job-95-poetry-galaxy_import_role.yml
  .github/workflows/job-99-poetry-create_release.yml
  .github/workflows/workflow-ansible-role-molecule.yml
  .github/workflows/workflow-container.yml
  .github/workflows/workflow-cookiecutter-template.yml
  .github/workflows/workflow-mac_maker.yml
  .github/workflows/workflow-meta_tests.yml
  {{cookiecutter.project_slug}}/.github/workflows/workflow-push.yml
Due: workflow-lint, workflow-header-lint

ci(GITHUB): document job scripting requirements
  .github/workflows/job-00-generic-notification.yml
  .github/workflows/job-10-container-security_scan_container.yml
  .github/workflows/job-10-generic-security_scan_credentials.yml
  .github/workflows/job-30-cookiecutter-markdown_links.yml
  .github/workflows/job-30-generic-markdown_links.yml
  .github/workflows/job-40-cookiecutter-ansible_role_lint.yml
  .github/workflows/job-40-cookiecutter-molecule_role_command.yml
  .github/workflows/job-40-poetry-ansible_role_lint.yml
  .github/workflows/job-40-poetry-molecule_role_command.yml
  .github/workflows/job-50-cookiecutter-test_precommit_hooks.yml
  .github/workflows/job-50-poetry-test_basic_precommit_hooks.yml
  .github/workflows/job-50-poetry-test_commitizen_hooks.yml
  .github/workflows/job-60-cookiecutter-remote_push.yml
  .github/workflows/job-80-container-dockerfile_linter.yml
  .github/workflows/job-80-cookiecutter-precommit_linter.yml
  .github/workflows/job-80-poetry-commit_lint.yml
  .github/workflows/job-80-poetry-precommit_linter.yml
  .github/workflows/job-95-container-push.yml
  .github/workflows/job-95-mac_maker-apply_profile.yml
  .github/workflows/job-95-poetry-galaxy_import_role.yml
  .github/workflows/job-99-poetry-create_release.yml
Due: workflow-lint, workflow-header-lint

ci(GITHUB): refactor/standardize pre-commit jobs
  .github/workflows/job-80-cookiecutter-precommit_commit_stage_hook.yml
  .github/workflows/job-80-poetry-precommit_commit_stage_hook.yml
  .github/workflows/workflow-cookiecutter-template.yml
  .github/workflows/workflow-meta_tests.yml
  {{cookiecutter.project_slug}}/.github/workflows/workflow-push.yml
Due: workflow-lint, workflow-header-lint

ci(GITHUB): refactor commit cmds, add spellcheck
  .cicd-tools/boxes/bootstrap/pre-commit/commit-spelling.sh
  .github/workflows/job-80-poetry-rev_range_command.yml
  .github/workflows/workflow-cookiecutter-template.yml
  .github/workflows/workflow-meta_tests.yml
  .vale.ini
  .vale/Vocab/cicd-tools/accept.txt
  cicd-tools/boxes/0.1.0.tar.gz
  cicd-tools/boxes/0.1.0/pre-commit/commit-spelling.sh
  {{cookiecutter.project_slug}}/.cicd-tools/boxes/bootstrap/pre-commit/commit-spelling.sh
  {{cookiecutter.project_slug}}/.github/config/schemas/workflows/workflow-push.json
  {{cookiecutter.project_slug}}/.github/config/workflows/workflow-push.json
  {{cookiecutter.project_slug}}/.github/workflows/workflow-push.yml
  {{cookiecutter.project_slug}}/.vale.ini
Due: shell-fmt, shell-lint, workflow-lint, workflow-header-lint

feat(ANSIBLE): parameterize galaxy requirements
  .github/workflows/job-40-cookiecutter-ansible_role_lint.yml
  .github/workflows/job-40-cookiecutter-molecule_role_command.yml
  .github/workflows/job-40-poetry-ansible_role_lint.yml
  .github/workflows/job-40-poetry-molecule_role_command.yml
  .github/workflows/workflow-ansible-role-molecule.yml
Due: workflow-lint, workflow-header-lint

ci(GITHUB): workflow to publish galaxy collections
  .github/workflows/job-95-poetry-galaxy_import_collection.yml
Due: workflow-lint, workflow-header-lint

ci(GITHUB): workflow to run npm commands
  .github/workflows/job-40-npm-run_cached_command.yml
  .github/workflows/workflow-npm-node_application.yml
  .gitignore
  .vale/Vocab/cicd-tools/accept.txt
  cicd-tools/boxes/0.1.0.tar.gz
  cicd-tools/boxes/0.1.0/ci/github/actions/action-05-npm-dependencies/action.yml
  package-lock.json
  package.json
Due: workflow-lint, workflow-header-lint

ci(GITHUB): add test for pre-commit spelling hook
  .github/scripts/job-50-test-precommit.sh
  .github/workflows/job-50-cookiecutter-test_precommit_hooks.yml
  .github/workflows/job-50-poetry-test_basic_precommit_hooks.yml
  .github/workflows/workflow-cookiecutter-template.yml
  {{cookiecutter.project_slug}}/.github/scripts/job-50-test-precommit.sh
Due: shell-fmt, shell-lint, workflow-lint, workflow-header-lint

feat(SCRIPTS): support multiple manifests
  scripts/manifest.sh
Due: shell-fmt, shell-lint

ci(CHANGELOG): pin version, remove tag
  .github/workflows/job-99-poetry-create_release.yml
  cicd-tools/boxes/0.1.0.tar.gz
  cicd-tools/boxes/0.1.0/ci/github/scripts/job-99-generate-changelog.sh
Due: shell-fmt, shell-lint, workflow-lint, workflow-header-lint

ci(GITHUB): add validation to release workflow
  .github/workflows/job-99-poetry-create_release.yml
  cicd-tools/boxes/0.1.0.tar.gz
  cicd-tools/boxes/0.1.0/ci/github/scripts/job-99-release-collection.sh
Due: shell-fmt, shell-lint, workflow-lint, workflow-header-lint

style(YAMLLINT): ensure octal values are quoted
  {{cookiecutter.project_slug}}/.yamllint.yml
Due: none

feat(PRE-COMMIT): naming standard, use formatting
  .cicd-tools/bin/format.sh
  .cicd-tools/boxes/bootstrap/pre-commit/ansible-lint.sh
  .cicd-tools/boxes/bootstrap/pre-commit/commit-spelling.sh
  .cicd-tools/boxes/bootstrap/pre-commit/lint-ansible.sh
  .cicd-tools/boxes/bootstrap/pre-commit/lint-github-workflow-header.sh
  .cicd-tools/boxes/bootstrap/pre-commit/spelling-commit-message.sh
  .cicd-tools/boxes/bootstrap/pre-commit/toml-lint.sh
  .cicd-tools/boxes/bootstrap/pre-commit/workflow-header-lint.sh
  .github/workflows/job-40-cookiecutter-ansible_role_lint.yml
  .github/workflows/job-40-cookiecutter-molecule_role_command.yml
  .github/workflows/job-40-poetry-ansible_role_lint.yml
  .github/workflows/job-40-poetry-molecule_role_command.yml
  .github/workflows/job-95-poetry-galaxy_import_role.yml
  .github/workflows/workflow-ansible-role-molecule.yml
  .github/workflows/workflow-cookiecutter-template.yml
  .github/workflows/workflow-meta_tests.yml
  .pre-commit-config.yaml
  cicd-tools/boxes/0.1.0.tar.gz
  cicd-tools/boxes/0.1.0/pre-commit/lint-ansible.sh
  cicd-tools/boxes/0.1.0/pre-commit/lint-github-workflow-header.sh
  cicd-tools/boxes/0.1.0/pre-commit/spelling-commit-message.sh
  cicd-tools/boxes/0.1.0/pre-commit/toml-lint.sh
  scripts/libraries/installer.sh
  {{cookiecutter.project_slug}}/.cicd-tools/bin/format.sh
  {{cookiecutter.project_slug}}/.cicd-tools/boxes/bootstrap/pre-commit/ansible-lint.sh
  {{cookiecutter.project_slug}}/.cicd-tools/boxes/bootstrap/pre-commit/commit-spelling.sh
  {{cookiecutter.project_slug}}/.cicd-tools/boxes/bootstrap/pre-commit/lint-ansible.sh
  {{cookiecutter.project_slug}}/.cicd-tools/boxes/bootstrap/pre-commit/lint-github-workflow-header.sh
  {{cookiecutter.project_slug}}/.cicd-tools/boxes/bootstrap/pre-commit/spelling-commit-message.sh
  {{cookiecutter.project_slug}}/.cicd-tools/boxes/bootstrap/pre-commit/toml-lint.sh
  {{cookiecutter.project_slug}}/.cicd-tools/boxes/bootstrap/pre-commit/workflow-header-lint.sh
  {{cookiecutter.project_slug}}/.github/workflows/workflow-push.yml
  {{cookiecutter.project_slug}}/.pre-commit-config.yaml
  {{cookiecutter.project_slug}}/scripts/format.sh
Due: shell-fmt, shell-lint, workflow-lint, workflow-header-lint

ci(PRE-COMMIT): streamline ansible-lint
  .github/workflows/job-40-cookiecutter-ansible_role_lint.yml
  .github/workflows/job-40-poetry-ansible_role_lint.yml
  cicd-tools/boxes/0.1.0.tar.gz
  cicd-tools/boxes/0.1.0/pre-commit/ansible-lint.sh
  {{cookiecutter.project_slug}}/.pre-commit-config.yaml
  {{cookiecutter.project_slug}}/ansible_role/requirements.yml
  {{cookiecutter.project_slug}}/ansible_role/tasks/main.yml
Due: shell-fmt, shell-lint, workflow-lint, workflow-header-lint

ci(GITHUB): standardize ansible workflow names
  .github/workflows/job-40-cookiecutter-ansible_lint.yml
  .github/workflows/job-40-cookiecutter-molecule_command.yml
  .github/workflows/job-40-poetry-ansible_lint.yml
  .github/workflows/job-40-poetry-molecule_command.yml
  .github/workflows/workflow-ansible-role-molecule.yml
Due: workflow-lint, workflow-header-lint

ci(PRE-COMMIT): add trufflehog
  .github/scripts/job-50-test-precommit.sh
  .github/workflows/job-50-cookiecutter-test_precommit_hooks.yml
  .github/workflows/workflow-cookiecutter-template.yml
  .github/workflows/workflow-meta_tests.yml
  .pre-commit-config.yaml
  {{cookiecutter.project_slug}}/.github/scripts/job-50-test-precommit.sh
  {{cookiecutter.project_slug}}/.pre-commit-config.yaml
Due: shell-fmt, shell-lint, workflow-lint, workflow-header-lint

build(DOCKER): remove trufflehog from container
  .cicd-tools/container/Dockerfile
  .cicd-tools/container/Dockerfile.sha256
Due: none

ci(GITHUB): upgrade trufflehog to v3.43.0
  .github/workflows/job-10-generic-security_scan_credentials.yml
Due: workflow-lint, workflow-header-lint

feat(NODE): flexible cached npm commands
  .github/workflows/job-40-npm-run_cached_command.yml
  .github/workflows/workflow-npm-node_application.yml
  .vale/Vocab/cicd-tools/accept.txt
  cicd-tools/boxes/0.1.0.tar.gz
  cicd-tools/boxes/0.1.0/ci/github/actions/action-05-npm-dependencies/action.yml
  package-lock.json
  package.json
Due: workflow-lint, workflow-header-lint

ci(GITHUB): workflow to run poetry command
  .github/workflows/job-40-poetry-run_cached_commands.yml
  .github/workflows/workflow-poetry-command.yml
  cicd-tools/boxes/0.1.0.tar.gz
  cicd-tools/boxes/0.1.0/ci/generic/scripts/execute-serial-commands.sh
  cicd-tools/boxes/0.1.0/ci/github/actions/action-20-generic-serial_commands/action.yml
Due: shell-fmt, shell-lint, workflow-lint, workflow-header-lint

ci(GITHUB): fly.io deploy workflow
  .github/workflows/job-95-container-flyio_deploy.yml
Due: workflow-lint, workflow-header-lint

ci(GITHUB): upgrade trufflehog version
  .github/workflows/job-10-generic-security_scan_credentials.yml
Due: workflow-lint, workflow-header-lint

ci(GITHUB): credential pre-commit testing
  .github/workflows/job-50-cookiecutter-test_precommit_hooks.yml
  .github/workflows/job-50-poetry-test_basic_precommit_hooks.yml
  {{cookiecutter.project_slug}}/.github/workflows/workflow-push.yml
Due: workflow-lint, workflow-header-lint

ci(GITHUB): secure credentials, add tag/build-args
  .github/workflows/job-10-container-security_scan_container.yml
  .github/workflows/job-95-container-push.yml
Due: workflow-lint, workflow-header-lint

ci(GITHUB): more flexible default workflow schema
  {{cookiecutter.project_slug}}/.github/config/schemas/workflows/workflow-push.json
Due: none

ci(GITHUB): gcp cloud run deploy workflow
  .github/workflows/job-95-container-gcp_cloud_run_deploy.yml
  .github/workflows/job-95-container-push.yml
  .vale/Vocab/cicd-tools/accept.txt
Due: workflow-lint, workflow-header-lint

ci(GITHUB): simplify api for serial commands
  .github/workflows/job-40-poetry-run_cached_commands.yml
  .github/workflows/workflow-poetry-command.yml
  cicd-tools/boxes/0.1.0.tar.gz
  cicd-tools/boxes/0.1.0/ci/generic/scripts/execute-serial-commands.sh
Due: shell-fmt, shell-lint, workflow-lint, workflow-header-lint

build(PRECOMMIT): update commitizen revision
  .pre-commit-config.yaml
  .vale/Vocab/cicd-tools/accept.txt
  {{cookiecutter.project_slug}}/.pre-commit-config.yaml
Due: none

ci(PRE-COMMIT): upgrade cicd-tools hooks
  .pre-commit-config.yaml
Due: none
